<div id="content" class="c-site-content">
    <main id="main" role="main" itemprop="mainContentOfPage" class="c-main">
        <div class="o-vc-layout">
            <section id="agile-development" class="o-section o-row o-row--width-full s-color-scheme">
                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="o-sm-col-12 o-hidden-lg o-hidden-md">
                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img width="1344" height="1016" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-src="../images/Event.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full" alt="Agile Software Development Icon" data-lazy-srcset="../images/Event.png 1344w, ../images/Event.png 300w, ../images/Event.png 1030w, ../images/Event.png 768w" sizes="(max-width: 1344px) 100vw, 1344px">
                                        <noscript>
                                            <img width="1344" height="1016" src="../wp-content/uploads/2020/08/Agile-Mobile.png" class="vc_single_image-img attachment-full" alt="Agile Software Development Icon" srcset="../wp-content/uploads/2020/08/Agile-Mobile.png 1344w, ../wp-content/uploads/2020/08/Agile-Mobile-300x227.png 300w, ../wp-content/uploads/2020/08/Agile-Mobile-1030x779.png 1030w, ../wp-content/uploads/2020/08/Agile-Mobile-768x581.png 768w" sizes="(max-width: 1344px) 100vw, 1344px">
                                        </noscript>
                                    </div>
                                </figure>
                            </div>
                            <div class="c-empty-space c-empty-space--sm"></div>
                        </div>
                    </div>
                </div>
                <div class="o-row animated-section o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="o-sm-col-12 o-lg-col-offset-0 o-lg-col-6 o-md-col-6 o-xs-col-12 o-col--valign-middle">
                            <div class="c-headings-block c-headings-block--no-padding">
                                <div class="c-empty-space c-empty-space--sm"></div>
                                <h3 class=" wpb_animate_when_almost_visible ro_2 c-headings-block__main h3"> Event </h3>
                            </div>
                            <div class="c-empty-space c-empty-space--xs"></div>
                            <div class="c-vc-column-text  wpb_animate_when_almost_visible ro_2">
                                <div class=" s-cms-content  fadeInUp">
                                    <p>Với đội ngũ nhân sự  hơn 10 năm kinh nghiệm trong lĩnh vực tổ chức event và các chương trình lớn, bằng năng lực cùng sức sáng tạo của mình, chúng tôi giúp quý khách hàng lập kế hoạch và tổ chức những sự kiện chất lượng đỉnh cao. </p>
                                </div>
                            </div>
                            <div class="o-row o-container">
                                <div class="o-sm-col-12 o-hidden-lg o-hidden-xs">
                                    <div class="c-empty-space c-empty-space--xs"></div>
                                </div>
                            </div>
                        </div>
                        <div class="o-sm-col-12 o-lg-col-offset-1 o-lg-col-5 o-md-col-6 o-hidden-sm o-hidden-xs o-col--valign-top">
                            <div class="c-empty-space c-empty-space--xs"></div>
                            <div class="wpb_single_image wpb_content_element vc_align_right   wpb_animate_when_almost_visible ro_1">
                                <div class="service-icon  animation-holder">
                                    <div class="animated-icon" data-icon="service_development" data-autoplay="true" data-loop="false" data-section="positions"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="c-empty-space c-empty-space--md"></div>
            <div class="o-row o-row--bg-gray animated-section o-row--width-normal s-color-scheme">
                <div class="o-container o-container--width-normal o-container--width-same">
                    <div class="o-sm-col-12">
                        <div class="c-empty-space c-empty-space--md"></div>
                        <div class="o-row o-container">
                            <div class="o-sm-col-8 o-lg-col-offset-0 o-lg-col-4 o-md-col-offset-0 o-md-col-5 o-sm-col-offset-0 o-xs-col-12">
                                <div class="c-headings-block c-headings-block--no-padding">
                                    <h3 class=" wpb_animate_when_almost_visible ro_2 c-headings-block__main h3 mt-50"> Các dịch vụ design</h3>
                                </div>
                            </div>
                        </div>
                        <div class="o-row o-container">
                            <div class="o-sm-col-12 o-lg-col-offset-0 o-lg-col-11 o-md-col-offset-0 o-md-col-12 o-sm-col-offset-0 o-xs-col-12">
                                <div class="c-mm-vc-posts">
                                    <div class="c-services-collection">
                                        <div class="o-container o-container--width-normal">
                                            <div class="c-archive js-inf-scroll-container">
                                                <div class="c-archive__col c-archive__col--anim o-xs-col-12 o-sm-col-6 o-lg-col-6 ">
                                                    <article class="c-entry-services has-light-header-text s-color-scheme has-header-bgnd-color has-light-header-bgnd has-header-overlay">
                                                        <div class="c-service--resource wpb_animate_when_almost_visible ro_2 animation-holder " style="        background: #62DFB7;">
                                                            <span class="service-description">Thiết kế nhận diện</span>
                                                            <div class="service-icon">
                                                                <div class="animated-icon" data-icon="service_support_opacity" data-autoplay="false" data-loop="false" data-section="services_mini"></div>
                                                            </div>
                                                            <div class="c-service__readmore">
                                                                <span class="c-readmore__label"></span>
                                                                <a href="services/support/index.htm" rel="bookmark" itemprop="url" class="c-readmore__link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="c-entry__anchor" id="support"></div>
                                                    </article>
                                                </div>

                                                <div class="c-archive__col c-archive__col--anim o-xs-col-12 o-sm-col-6 o-lg-col-6 ">
                                                    <article class="c-entry-services has-light-header-text s-color-scheme has-header-bgnd-color has-light-header-bgnd has-header-overlay">
                                                        <div class="c-service--resource wpb_animate_when_almost_visible ro_2 animation-holder " style="        background: #F4655D;">
                                                            <span class="service-description">Thiết kế event</span>
                                                            <div class="service-icon">
                                                                <div class="animated-icon" data-icon="service_design_opacity" data-autoplay="false" data-loop="false" data-section="services_mini"></div>
                                                            </div>
                                                            <div class="c-service__readmore">
                                                                <span class="c-readmore__label"></span>
                                                                <a href="services/design/index.htm" rel="bookmark" itemprop="url" class="c-readmore__link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="c-entry__anchor" id="design"></div>
                                                    </article>
                                                </div>
                                                <div class="c-archive__col c-archive__col--anim o-xs-col-12 o-sm-col-6 o-lg-col-6 ">
                                                    <article class="c-entry-services has-light-header-text s-color-scheme has-header-bgnd-color has-dark-header-bgnd has-header-overlay">
                                                        <div class="c-service--resource wpb_animate_when_almost_visible ro_2 animation-holder " style="        background: #f1d84c;">
                                                            <span class="service-description">Thiết kế bao bì</span>
                                                            <div class="service-icon">
                                                                <div class="animated-icon" data-icon="service_cloud_opacity" data-autoplay="false" data-loop="false" data-section="services_mini"></div>
                                                            </div>
                                                            <div class="c-service__readmore">
                                                                <span class="c-readmore__label"></span>
                                                                <a href="services/cloud-devops/index.htm" rel="bookmark" itemprop="url" class="c-readmore__link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="c-entry__anchor" id="cloud-devops"></div>
                                                    </article>
                                                </div>
                                                <div class="c-archive__col c-archive__col--anim o-xs-col-12 o-sm-col-6 o-lg-col-6 ">
                                                    <article class="c-entry-services has-light-header-text s-color-scheme has-header-bgnd-color has-dark-header-bgnd has-header-overlay">
                                                        <div class="c-service--resource wpb_animate_when_almost_visible ro_2 animation-holder " style="        background: #6A48E6;">
                                                            <span class="service-description">Thiết kế nhận diện</span>
                                                            <div class="service-icon">
                                                                <div class="animated-icon" data-icon="service_development_opacity" data-autoplay="false" data-loop="false" data-section="services_mini"></div>
                                                            </div>
                                                            <div class="c-service__readmore">
                                                                <span class="c-readmore__label"></span>
                                                                <a href="services/development/index.htm" rel="bookmark" itemprop="url" class="c-readmore__link"></a>
                                                            </div>
                                                        </div>
                                                        <div class="c-entry__anchor" id="development"></div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-empty-space c-empty-space--xl"></div>
        </div>
    </main>
</div>