<title>Liên Hệ </title>
<div id="content" class="c-site-content">
    <main id="main" role="main" itemprop="mainContentOfPage" class="c-main homepage-contact">
        <div class="o-vc-layout">
            <section class="o-section o-row animated-section o-row--width-full c-service--section s-color-scheme">
                <img class="o-hidden-xs o-hidden-md o-hidden-sm background-design" src="~/images/background-design.png" />
                <img class="o-hidden-lg background-design-mobile" src="~/images/background-design-mobile.png" />
                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="o-sm-col-12 o-hidden-lg o-hidden-md o-hidden-sm">
                            <div class="c-empty-space c-empty-space--xs"></div>
                            <h3 class="o-hidden-lg c-headings-block__main wpb_animate_when_almost_visible ro_1 h3">
                                LIÊN HỆ VỚI CHÚNG TÔI
                            </h3>
                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-src="../images/contact.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full" alt="contact" data-lazy-srcset="../images/contact.png 1344w, ../images/contact.png 300w, ../images/contact.png 1030w, ../images/contact.png 768w">
                                        <noscript>
                                            <img src="../images/contact.png" class="vc_single_image-img attachment-full" alt="contact" srcset="../images/contact.png 1344w, ../images/contact.png 300w, ../images/contact.png 1030w, ../images/contact.png 768w">
                                        </noscript>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--valign-middle o-container--width-same">
                        <div class="o-lg-col-6 o-xs-col-12">
                            @*<div class="c-empty-space c-empty-space--xs o-hidden-lg o-hidden-md o-hidden-sm"></div>*@
                            <div class="c-headings-block animation-holder">
                                <div class="c-empty-space c-empty-space--xl o-hidden-xs"></div>
                                <h3 class="o-hidden-xs o-hidden-sm o-hidden-md c-headings-block__main wpb_animate_when_almost_visible ro_1 h3">
                                    LIÊN HỆ VỚI CHÚNG TÔI
                                </h3>
                                <div class="c-vc-column-text">
                                    <div class=" s-cms-content fadeInUp">
                                        <p class="wpb_animate_when_almost_visible ro_2">
                                            Chúng tôi tự tin sẽ mang lại cho Quý khách hàng chất lượng dịch vụ tuyệt vời với giải pháp bền vững, chi phí tối ưu
                                        </p>
                                    </div>
                                </div>
                                <div class="c-empty-space c-empty-space--sm"></div>
                                <div class="wpb_animate_when_almost_visible ro_3">
                                    <h5 class=" c-headings-block__main h5 homepage-contact__info--title">
                                        Thông tin
                                    </h5>
                                    <div class="c-vc-column-text">
                                        <div class=" s-cms-content fadeInUp homepage-contact__info">
                                            <div class="o-lg-col-4 o-xs-col-12">
                                                <hr class="homepage-contact__info--label__line" />
                                                <p class="homepage-contact__info--label">
                                                    Địa chỉ
                                                </p>
                                                <p id="CONTACT_ADDRESS_PC" class="o-hidden-xs">
                                                    102 Ngụy Như Kon Tum Thanh Xuân, Hà Nội
                                                </p>
                                                <p id="CONTACT_ADDRESS_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                    102 Ngụy Như Kon Tum Thanh Xuân, Hà Nội
                                                </p>
                                            </div>
                                            <div class="o-lg-col-4 o-xs-col-12">
                                                <hr class="homepage-contact__info--label__line" />
                                                <p class="homepage-contact__info--label">
                                                    Website
                                                </p>
                                                <p id="CONTACT_WEBSITE_NAME_PC" class="o-hidden-xs">
                                                    thinkaction.vn
                                                </p>
                                                <p id="CONTACT_WEBSITE_NAME_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                    thinkaction.vn
                                                </p>
                                            </div>
                                            <div class="o-lg-col-4 o-xs-col-12">
                                                <hr class="homepage-contact__info--label__line" />
                                                <p class="homepage-contact__info--label">
                                                    Zalo
                                                </p>
                                                <p id="CONTACT_ZALO_NAME_PC" class="o-hidden-xs">
                                                    ThinkAction Agency
                                                </p>
                                                <p id="CONTACT_ZALO_NAME_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                    ThinkAction Agency
                                                </p>
                                            </div>
                                        </div>
                                        <div class=" s-cms-content fadeInUp homepage-contact__info">
                                            <div class="o-lg-col-4 o-xs-col-12">
                                                <hr class="homepage-contact__info--label__line" />
                                                <p class="homepage-contact__info--label">
                                                    Hotline
                                                </p>
                                                <p id="CONTACT_HOTLINE_PC" class="o-hidden-xs">
                                                    0896.426.888
                                                </p>
                                                <p id="CONTACT_HOTLINE_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                    0896.426.888
                                                </p>
                                            </div>
                                            <div class="o-lg-col-4 o-xs-col-12">
                                                <hr class="homepage-contact__info--label__line" />
                                                <p class="homepage-contact__info--label">
                                                    Email
                                                </p>
                                                <p id="CONTACT_EMAIL_PC" class="o-hidden-xs">
                                                    info@thinkaction.vn
                                                </p>
                                                <p id="CONTACT_EMAIL_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                    info@thinkaction.vn
                                                </p>
                                            </div>
                                            <div class="o-lg-col-4 o-xs-col-12">
                                                <hr class="homepage-contact__info--label__line" />
                                                <p class="homepage-contact__info--label">
                                                    Facebook
                                                </p>
                                                <p id="CONTACT_FACEBOOK_NAME_PC" class="o-hidden-xs">
                                                    Think & Action
                                                </p>
                                                <p id="CONTACT_FACEBOOK_NAME_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                    Think & Action
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="homepage-contact__link--box">
                                        <div onclick="contactClickFunction('linkedin')" class="homepage-contact__link" style="background: url('../images/contact/in.jpg')"></div>
                                        <div onclick="contactClickFunction('zalo')" class="homepage-contact__link" style="background: url('../images/contact/zalo.jpg')"></div>
                                        <div onclick="contactClickFunction('facebook')" class="homepage-contact__link" style="background: url('../images/contact/facebook.jpg')"></div>
                                        <div onclick="contactClickFunction('youtube')" class="homepage-contact__link" style="background: url('../images/contact/youtube.jpg')"></div>
                                        <div onclick="contactClickFunction('behance')" class="homepage-contact__link" style="background: url('../images/contact/behance.jpg')"></div>
                                    </div>
                                    <div class="c-empty-space c-empty-space--xs"></div>
                                </div>
                            </div>
                        </div>
                        <div class="o-lg-col-6 o-hidden-xs wpb_animate_when_almost_visible ro_1" style="padding-top: 12rem">
                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img src="../images/contact.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="contact" srcset="../images/contact.png 1344w, ../images/contact.png 300w, ../images/contact.png 1030w, ../images/contact.png 768w">
                                        <noscript>
                                            <img src="../images/contact.png" class="vc_single_image-img attachment-full" alt="contact" srcset="../images/contact.png 1344w, ../images/contact.png 300w, ../images/contact.png 1030w, ../images/contact.png 768w">
                                        </noscript>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="c-empty-space c-empty-space--lg o-hidden-xs"></div>
            <div class="o-row animated-section o-row--width-normal s-color-scheme animation-holder">
                <div class="o-container o-container--width-normal o-container--width-same">
                    <div class="o-sm-col-12">
                        <div class="o-row o-container  wpb_animate_when_almost_visible ro_1">
                            <div class="o-sm-col-8 o-lg-col-offset-0 o-lg-col-4 o-md-col-offset-0 o-md-col-5 o-sm-col-offset-0 o-xs-col-12">
                                <div class="c-headings-block c-headings-block--no-padding">
                                    <h5 class=" c-headings-block__main h5 homepage-contact__info--title">
                                        Liên hệ
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="c-empty-space c-empty-space--xs"></div>
                        <div class="o-row o-container wpb_animate_when_almost_visible ro_2">
                            <div class="o-md-col-2 o-lg-col-2"></div>
                            <div class="c-contact-page-form-section__col o-xs-col-12 o-md-col-8 o-lg-col-8">
                                <div id="" class="c-hs-form-wrap js-hs-form-wrap">
                                    <form novalidate="" accept-charset="UTF-8" class="hs-form hs-form-private">
                                        <div class="hs-fieldtype-text field hs-form-field hs-form__field hs-form__field--text has-value">
                                            <label class="" placeholder="Enter your First name">
                                                <span>Họ Tên</span>
                                                <span class="hs-form-required">*</span>
                                            </label>
                                            <div class="input">
                                                <input class="hs-input" type="text" name="" required="" value="" placeholder="" inputmode="text">
                                            </div>
                                        </div>
                                        <div class="hs-fieldtype-text field hs-form-field hs-form__field hs-form__field--text has-value">
                                            <label class="" placeholder="Enter your First name">
                                                <span>Email</span>
                                                <span class="hs-form-required">*</span>
                                            </label>
                                            <div class="input">
                                                <input class="hs-input" type="text" name="" required="" value="" placeholder="" inputmode="text">
                                            </div>
                                        </div>
                                        <div class="hs-fieldtype-text field hs-form-field hs-form__field hs-form__field--text has-value">
                                            <label class="" placeholder="Enter your First name">
                                                <span>Số điện thoại</span>
                                                <span class="hs-form-required">*</span>
                                            </label>
                                            <div class="input">
                                                <input class="hs-input" type="text" name="" required="" value="" placeholder="" inputmode="text">
                                            </div>
                                        </div>
                                        <div class="hs-fieldtype-text field hs-form-field hs-form__field hs-form__field--text has-value">
                                            <label class="" placeholder="Enter your First name">
                                                <span>Tên công ty</span>
                                                <span class="hs-form-required">*</span>
                                            </label>
                                            <div class="input">
                                                <input class="hs-input" type="text" name="" required="" value="" placeholder="" inputmode="text">
                                            </div>
                                        </div>
                                        <div class="hs_message hs-message hs-fieldtype-textarea field hs-form-field hs-form__field hs-form__field--textarea has-value">
                                            <label class="" placeholder="Enter your Message">
                                                <span>Nội dung</span><span class="hs-form-required">*</span>
                                            </label>
                                            <div class="input">
                                                <textarea class="hs-input" name="message" required="" placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div class="hs_submit hs-submit">
                                            <div class="c-headings-block__learn-more c-headings-block__learn-more-button" style="float: right;">
                                                <a href="" style="color: white !important;">Gửi yêu cầu</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="o-md-col-2 o-lg-col-2"></div>
                        </div>
                        <div class="c-empty-space c-empty-space--md"></div>
                        <div class="o-row o-container wpb_animate_when_almost_visible ro_3">
                            <div class="o-xs-col-12 o-sm-col-12 o-lg-col-12 o-md-col-12">
                                <div class="wpb_single_image wpb_content_element vc_align_left  o-lazy-load o-lazy-load--vc">
                                    <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=102%20Ngu%CC%A3y%20Nhu%CC%9B%20Kon%20Tum,%20Thanh%20Xua%CC%82n,%20H%C3%A0%20N%E1%BB%99i+(THINK%20&amp;%20ACTION%20AGENCY)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/"></a></iframe></div>
                                </div>
                            </div>
                        </div>
                        <div class="c-empty-space c-empty-space--md"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-migrate.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#nav-contact').addClass("active");
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
              "url": "https://cms.thinkaction.vn/all-options",
              "method": "GET",
              "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                var data = response.data;
                $('#CONTACT_ADDRESS_PC').html(data.find(x => x.Code === 'CONTACT_ADDRESS').ValuePC.replace(/\n/g,'<br/>'));
                $('#CONTACT_ADDRESS_MOBILE').html(data.find(x => x.Code === 'CONTACT_ADDRESS').ValueMobile.replace(/\n/g,'<br/>'));

                                $('#CONTACT_HOTLINE_PC').html(data.find(x => x.Code === 'CONTACT_HOTLINE').ValuePC.replace(/\n/g,'<br/>'));
                $('#CONTACT_HOTLINE_MOBILE').html(data.find(x => x.Code === 'CONTACT_HOTLINE').ValueMobile.replace(/\n/g,'<br/>'));

                                $('#CONTACT_ZALO_NAME_PC').html(data.find(x => x.Code === 'CONTACT_ZALO_NAME').ValuePC.replace(/\n/g,'<br/>'));
                $('#CONTACT_ZALO_NAME_MOBILE').html(data.find(x => x.Code === 'CONTACT_ZALO_NAME').ValueMobile.replace(/\n/g,'<br/>'));

                                $('#CONTACT_FACEBOOK_NAME_PC').html(data.find(x => x.Code === 'CONTACT_FACEBOOK_NAME').ValuePC.replace(/\n/g,'<br/>'));
                $('#CONTACT_FACEBOOK_NAME_MOBILE').html(data.find(x => x.Code === 'CONTACT_FACEBOOK_NAME').ValueMobile.replace(/\n/g,'<br/>'));

                                $('#CONTACT_EMAIL_PC').html(data.find(x => x.Code === 'CONTACT_EMAIL').ValuePC.replace(/\n/g,'<br/>'));
                $('#CONTACT_EMAIL_MOBILE').html(data.find(x => x.Code === 'CONTACT_EMAIL').ValueMobile.replace(/\n/g,'<br/>'));

                                $('#CONTACT_WEBSITE_NAME_PC').html(data.find(x => x.Code === 'CONTACT_WEBSITE_NAME').ValuePC.replace(/\n/g,'<br/>'));
                $('#CONTACT_WEBSITE_NAME_MOBILE').html(data.find(x => x.Code === 'CONTACT_WEBSITE_NAME').ValueMobile.replace(/\n/g,'<br/>'));
            });
    });
</script>

<script>
    function contactClickFunction(val) {
        jQuery(function ($) {
            var settings = {
              "url": "https://cms.thinkaction.vn/all-options",
              "method": "GET",
              "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                var data = response.data;
                if(val === "linkedin") {
                    window.open(data.find(x => x.Code === 'CONTACT_LINKEDIN_LINK').ValuePC);
                }
                if(val === "facebook") {
                    window.open(data.find(x => x.Code === 'CONTACT_FACEBOOK_LINK').ValuePC);
                }
                if(val === "zalo") {
                    window.open(data.find(x => x.Code === 'CONTACT_ZALO_LINK').ValuePC);
                }
                if(val === "youtube") {
                    window.open(data.find(x => x.Code === 'CONTACT_YOUTUBE_LINK').ValuePC);
                }
                if(val === "behance") {
                    window.open(data.find(x => x.Code === 'CONTACT_BEHANCE_LINK').ValuePC);
                }
            });
        });
    }
</script>