<!DOCTYPE html>
<html lang="en">
<head itemscope="itemscope" class="head">
    <meta charset="UTF-8">
    @*<title>Think & Action</title>*@
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="ThinkAction là agency chuyên về lĩnh vực Marketing, Xây dựng hình ảnh và Phát triển Thương hiệu.">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/theme-2.css" rel="stylesheet" />
    <link href="~/css/vendor.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/contactus.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/grt-youtube-popup.css">
    <script data-script-category="">
        window.dataLayer = window.dataLayer || [];
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179752224-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-179752224-1');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MKGTK5H');</script>
    <!-- End Google Tag Manager -->
</head>

<div id="global-loading" class="loading display-none"></div>

<body class="c-body c-body--wordpress c-body--ltr c-body--en c-body--en-us c-body--child-theme c-body--multisite c-body--blog-1 c-body--y2021 m10 d11 h05 monday c-body--logged-out c-body--home c-body--singular c-body--singular-page c-body--singular-page-31178 c-body--page-template-default wpb-js-composer js-comp-ver-6.1 vc_responsive"
      dir="ltr" itemscope="itemscope">
    <div id="wrap" class="c-site-wrap">
        <div class="c-skip-link">
            <a href="#main" class="screen-reader-text">Skip to content</a>
        </div>
        <header id="header" role="banner" itemscope="itemscope"
                class="c-site-header o-row o-row--width-full u-bgnd-header">
            <div class="o-container max-width-100">
                <div class="o-col-12">
                    <div class="o-row">
                        <div id="branding" class="c-site-branding">
                            <div id="site-title" itemprop="headline" class="c-site-branding__title u-mb1-2">
                                <a class="u-ir" href="/" rel="home">Think & Action</a>
                            </div>
                        </div>
                        <nav class="menu menu menu-primary c-nav-primary" role="navigation" id="menu-primary"
                             aria-label="Primary Menu" itemscope="itemscope">
                            <ul id="menu-primary-items" class="c-menu-primary o-menu o-menu--horizontal">
                                <li id="menu-item-23951"
                                    class="o-menu__item--horizontal c-menu-primary__item c-menu-primary__item--23951 c-menu-primary__item--page">
                                    <a id="nav-homepage" href="https://thinkaction.vn/trang-chu">Trang Chủ</a>
                                </li>
                                <li id="menu-item-21689"
                                    class="o-menu__item--horizontal c-menu-primary__item c-menu-primary__item--21689 c-menu-primary__item--page c-menu-primary__item--projects">
                                    <a id="nav-about-us" href="https://thinkaction.vn/ve-chung-toi">Về Chúng Tôi</a>
                                </li>
                                <li id="menu-item-28397"
                                    class="o-menu__item--horizontal c-menu-primary__item c-menu-primary__item--28397 c-menu-primary__item--page">
                                    <a id="nav-services" class="service-dropdown" href="https://thinkaction.vn/dich-vu">Dịch Vụ</a>
                                    <ul class="service-dropdown-content">
                                        <li><a href="https://thinkaction.vn/thiet-ke-thuong-hieu">Thiết Kế Thương Hiệu</a></li>
                                        <li><a href="https://thinkaction.vn/tvc">Sản Xuất TVC</a></li>
                                        <li><a href="https://thinkaction.vn/digital-marketing">Digital Marketing</a></li>
                                        <li><a href="https://thinkaction.vn/web-mobile-app">Website & Mobile App</a></li>
                                        <li><a href="https://thinkaction.vn/to-chuc-su-kien">Tổ Chức Sự Kiện</a></li>
                                        <li><a href="/thiet-ke-lo-go">Thiết Kế Logo</a></li>
                                        <li><a href="/nhan-dien-thuong-hieu">Nhận Diện Thương Hiệu</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-21688"
                                    class="o-menu__item--horizontal c-menu-primary__item c-menu-primary__item--21688 c-menu-primary__item--page">
                                    <a id="nav-projects" href="https://thinkaction.vn/du-an">Dự Án</a>
                                </li>
                                <li id="menu-item-21774"
                                    class="o-menu__item--horizontal c-menu-primary__item c-menu-primary__item--21774 c-menu-primary__item--page c-menu-primary__item--filtered-resources">
                                    <a id="nav-news" href="https://thinkaction.vn/tin-tuc">Tin Tức</a>
                                </li>
                                <li id="menu-item-21774"
                                    class="o-menu__item--horizontal c-menu-primary__item c-menu-primary__item--21774 c-menu-primary__item--page c-menu-primary__item--filtered-resources">
                                    <a id="nav-contact" href="https://thinkaction.vn/lien-he">Liên Hệ</a>
                                </li>
                            </ul>
                            <a href="#0" class="c-overlay-nav__trigger js-overlay-nav__trigger">
                                Menu <span class="c-overlay-nav__icon"></span>
                            </a>
                            <div class="c-overlay-nav js-overlay-nav">
                                <span class="c-overlay-nav__layer js-overlay-nav__layer"></span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer id="footer" role="contentinfo" itemscope="itemscope" class="c-site-footer o-row o-row--width-full">
            <div class="o-container">
                <hr class="o-hidden-lg homepage-contact__info--label__line" style="width: 100% !important;">
                <div class="c-site-footer__menu o-col-12">
                    <div class="o-row">
                        <div class="menu-footer-container">
                            <nav class="menu menu menu-footer c-nav-footer" role="navigation" id="menu-footer"
                                 aria-label="Footer Menu" itemscope="itemscope">
                                <ul id="menu-footer-items" class="c-menu-footer o-menu o-menu--accordion">
                                    <li id="menu-item-23968"
                                        class="o-menu__item--accordion js-accordion c-menu-footer__item c-menu-footer__item--23968 c-menu-footer__item--page c-menu-footer__item--has-children">
                                        <div id="branding" class="c-site-branding">
                                            <div id="site-title" itemprop="headline"
                                                 class="c-site-branding__title u-mb1-2">
                                                <a class="u-ir" href="" rel="home">Think & Action</a>
                                            </div>
                                        </div>
                                        <ul class="sub-menu">
                                            <li class="c-menu-footer__item c-menu-footer__item--33552 c-menu-footer__item--page c-menu-footer__item__address o-hidden-xs c-menu-footer__item__address">
                                                <a id="CONTACT_ADDRESS_PC" class="google-maps-link" style="z-index: 999;">
                                                    102 Nguỵ Như Kon Tum Thanh Xuân, Hà Nội
                                                </a>
                                            </li>
                                            <li class="o-hidden-lg o-hidden-sm o-hidden-md c-menu-footer__item c-menu-footer__item--33552 c-menu-footer__item--page c-menu-footer__item__address c-menu-footer__item__address-2-row">
                                                <a id="CONTACT_ADDRESS_MOBILE" class="google-maps-link" style="z-index: 999;">
                                                    102 Nguỵ Như Kon Tum <br /> Thanh Xuân, Hà Nội
                                                </a>
                                            </li>
                                            <li class="c-menu-footer__item  c-menu-footer__item--page c-menu-footer__item__phone">
                                                <a id="CONTACT_HOTLINE_PC" style="z-index: 999;" href="tel:0896426888">0896.426.888</a>
                                            </li>
                                            <li class="c-menu-footer__item c-menu-footer__item--page c-menu-footer__item__web">
                                                <a id="CONTACT_WEBSITE_NAME_PC" style="z-index: 999;" href="https://thinkaction.vn">thinkaction.vn</a>
                                            </li>
                                            <li class="c-menu-footer__item  c-menu-footer__item--page c-menu-footer__item__email">
                                                <a id="CONTACT_EMAIL_PC" style="z-index: 999;" href="mailto:info@thinkaction.vn">info@thinkaction.vn</a>
                                            </li>
                                            <div class="c-empty-space c-empty-space--md o-hidden-xs"></div>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right-menu-footer-container">
                            <nav class="menu menu menu-footer c-nav-footer" role="navigation" id="menu-footer"
                                 aria-label="Footer Menu" itemscope="itemscope">
                                <ul id="menu-footer-items" class="c-menu-footer o-menu o-menu--accordion">
                                    <li id="menu-item-23968"
                                        class="o-menu__item--accordion js-accordion c-menu-footer__item c-menu-footer__item--23968 c-menu-footer__item--page c-menu-footer__item--has-children">
                                        <ul class="sub-menu">
                                            <div class="c-empty-space c-empty-space--lg o-hidden-lg"></div>
                                            <li class="c-menu-footer__item  c-menu-footer__item--page">
                                                <a class="" href="" style="font-weight: 700;margin-bottom: 1rem;">
                                                    Dịch vụ
                                                </a>
                                            </li>
                                            <li class="c-menu-footer__item  c-menu-footer__item--page">
                                                <a href="https://thinkaction.vn/thiet-ke-thuong-hieu">Thiết Kế Thương Hiệu</a>
                                            </li>
                                            <li class="c-menu-footer__item  c-menu-footer__item--page">
                                                <a href="https://thinkaction.vn/tvc">Sản Xuất TVC</a>
                                            </li>
                                            <li class="c-menu-footer__item  c-menu-footer__item--page">
                                                <a href="https://thinkaction.vn/digital-marketing">Digital Marketing</a>
                                            </li>
                                            <li class="c-menu-footer__item  c-menu-footer__item--page">
                                                <a href="https://thinkaction.vn/web-mobile-app">Website & Mobile App</a>
                                            </li>
                                            <li class="c-menu-footer__item  c-menu-footer__item--page">
                                                <a href="https://thinkaction.vn/to-chuc-su-kien">Tổ Chức Sự Kiện</a>
                                            </li>
                                            <div class="c-empty-space c-empty-space--md o-hidden-xs"></div>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="contact-wrapper">
                            <nav class="menu menu menu-contact-us-footer c-nav-contact-us-footer" role="navigation"
                                 id="menu-contact-us-footer" aria-label="Contact Us (footer) Menu" itemscope="itemscope">
                                <ul id="menu-contact-us-items-footer" class="c-menu-contact-us-footer">
                                    <li id="menu-item-33552"
                                        class="c-menu-footer__item c-menu-footer__item--33552 c-menu-footer__item--page">
                                        <a href="">Đăng ký tư vấn chiến lược marketing ngay</a>
                                    </li>
                                    <li id="menu-item-21764"
                                        class="c-menu-contact-us-footer__item c-menu-contact-us-footer__item--21764 c-menu-contact-us-footer__item--page">
                                        <input placeholder="Email..." type="text" class="homepage-registration-input">
                                        <a href="" class="homepage-registration-button c-btn">Đăng ký</a>
                                        <div class="c-empty-space c-empty-space--sm o-hidden-lg o-hidden-sm o-hidden-md"></div>
                                    </li>
                                </ul>
                                <div class="homepage-footer-contact__link--box">
                                    <div onclick="contactClickFunction('behance')" class="homepage-contact__link" style="background: url('../images/footer/behance.png')"></div>
                                    <div onclick="contactClickFunction('zalo')" class="homepage-contact__link" style="background: url('../images/footer/zalo.png')"></div>
                                    <div onclick="contactClickFunction('facebook')" class="homepage-contact__link" style="background: url('../images/footer/facebook.png')"></div>
                                    <div onclick="contactClickFunction('youtube')" class="homepage-contact__link" style="background: url('../images/footer/youtube.png')"></div>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="arcontactus"></div>
    <script src="~/js/site.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-migrate.js"></script>
    <script id="mm-base-vendor-js" type='text/javascript' defer="" src='~/js/vendor.js'></script>
    <script id="mm-base-theme-js" type='text/javascript' defer="" src='~/js/theme.js'></script>
    <script id="wpb_composer_front_js-js" type='text/javascript' defer="" src='~/js/js_composer_front.js'></script>
    <script src="~/js/contactus.js"></script>
    <script src="~/js/contactus_scripts.js"></script>
    <script src="~/js/contact.js"></script>
    <script type="text/javascript">
            jQuery(function ($) {

            $(document).ajaxStart(function() {                
                $( "#global-loading" ).removeClass('display-none');
            });

            $(document).ajaxComplete(function() {                
                $( "#global-loading" ).addClass('display-none');
            });

            $(window).on("scroll", function() {
            if($(window).scrollTop() > 50) {
                $(".c-site-header").addClass("active");
            } else {
                //remove the background property so it comes transparent again (defined in your css)
               $(".c-site-header").removeClass("active");
            }
        });
                });
    </script>
    <script>
        function contactClickFunction(val) {
            jQuery(function ($) {
                var settings = {
                  "url": "https://cms.thinkaction.vn/all-options",
                  "method": "GET",
                  "timeout": 0,
                };

                $.ajax(settings).done(function (response) {
                    var data = response.data;
                    if(val === "linkedin") {
                        window.open(data.find(x => x.Code === 'CONTACT_LINKEDIN_LINK').ValuePC);
                    }
                    if(val === "facebook") {
                        window.open(data.find(x => x.Code === 'CONTACT_FACEBOOK_LINK').ValuePC);
                    }
                    if(val === "zalo") {
                        window.open(data.find(x => x.Code === 'CONTACT_ZALO_LINK').ValuePC);
                    }
                    if(val === "youtube") {
                        window.open(data.find(x => x.Code === 'CONTACT_YOUTUBE_LINK').ValuePC);
                    }
                    if(val === "behance") {
                        window.open(data.find(x => x.Code === 'CONTACT_BEHANCE_LINK').ValuePC);
                    }
                });
            });
        }
    </script>

    <script type="text/javascript">
        jQuery(function ($) {
            var settings = {
                  "url": "https://cms.thinkaction.vn/all-options",
                  "method": "GET",
                  "timeout": 0,
                };

                $.ajax(settings).done(function (response) {
                    var data = response.data;
                    $(".google-maps-link").attr("href", data.find(x => x.Code === 'CONTACT_ADDRESS_MAP').ValuePC);

                        $('#CONTACT_ADDRESS_PC').html(data.find(x => x.Code === 'CONTACT_ADDRESS').ValuePC.replace(/\n/g,'<br/>'));
                        $('#CONTACT_ADDRESS_MOBILE').html(data.find(x => x.Code === 'CONTACT_ADDRESS').ValueMobile.replace(/\n/g,'<br/>'));

                                        $('#CONTACT_HOTLINE_PC').html(data.find(x => x.Code === 'CONTACT_HOTLINE').ValuePC.replace(/\n/g,'<br/>'));
                                        $('#CONTACT_HOTLINE_PC').attr("href",'tel:' + data.find(x => x.Code === 'CONTACT_HOTLINE').ValuePC);
                        $('#CONTACT_HOTLINE_MOBILE').html(data.find(x => x.Code === 'CONTACT_HOTLINE').ValueMobile.replace(/\n/g,'<br/>'));

                                        $('#CONTACT_ZALO_NAME_PC').html(data.find(x => x.Code === 'CONTACT_ZALO_NAME').ValuePC.replace(/\n/g,'<br/>'));
                        $('#CONTACT_ZALO_NAME_MOBILE').html(data.find(x => x.Code === 'CONTACT_ZALO_NAME').ValueMobile.replace(/\n/g,'<br/>'));

                                        $('#CONTACT_FACEBOOK_NAME_PC').html(data.find(x => x.Code === 'CONTACT_FACEBOOK_NAME').ValuePC.replace(/\n/g,'<br/>'));
                        $('#CONTACT_FACEBOOK_NAME_MOBILE').html(data.find(x => x.Code === 'CONTACT_FACEBOOK_NAME').ValueMobile.replace(/\n/g,'<br/>'));

                                        $('#CONTACT_EMAIL_PC').html(data.find(x => x.Code === 'CONTACT_EMAIL').ValuePC.replace(/\n/g,'<br/>'));
                                        
                                        $('#CONTACT_EMAIL_PC').attr("href",'mailto:' + data.find(x => x.Code === 'CONTACT_EMAIL').ValuePC);
                        $('#CONTACT_EMAIL_MOBILE').html(data.find(x => x.Code === 'CONTACT_EMAIL').ValueMobile.replace(/\n/g,'<br/>'));

                                        $('#CONTACT_WEBSITE_NAME_PC').html(data.find(x => x.Code === 'CONTACT_WEBSITE_NAME').ValuePC.replace(/\n/g,'<br/>'));
                                        $('#CONTACT_WEBSITE_NAME_PC').attr("href", data.find(x => x.Code === 'CONTACT_WEBSITE_LINK').ValuePC);
                        $('#CONTACT_WEBSITE_NAME_MOBILE').html(data.find(x => x.Code === 'CONTACT_WEBSITE_NAME').ValueMobile.replace(/\n/g,'<br/>'));
                });
        });
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKGTK5H"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>
</html>