@{
    var allServices = (List<Service>)ViewBag.Data;
}
<title>Think & Action</title>
<div id="content" class="c-site-content brand">
    <main id="main" role="main" itemprop="mainContentOfPage" class="c-main homepage">
        <div id="c-portfolio-block" class="o-vc-layout">
            <section class="o-section o-row c-section-abstract intro animated-section o-row--width-full c-service--section s-color-scheme">
                <img class="o-hidden-md o-hidden-sm o-hidden-xs background-brand" src="~/images/brand/background-logo.png" />
                <img class="o-hidden-lg background-design-mobile" src="~/images/background-design-mobile.png" />
                <div class="c-empty-space o-hidden-xs c-empty-space--lg"></div>
                <div class="c-empty-space o-hidden-xs c-empty-space--lg" style="padding-top: 5rem !important"></div>
                <div class="o-row o-row--width-full s-color-scheme">
                    <div class="o-container o-container--width-normal floatCenter">
                        <div class="animated-section o-sm-col-10 o-md-col-6 o-xs-col-12 ">
                            <div class="o-hidden-md o-hidden-sm o-hidden-lg o-hidden-xs o-row o-container" style="justify-content: center;">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="c-empty-space c-empty-space--md"></div>

                                        <div class="c-empty-space c-empty-space--xs"></div>
                                    </figure>
                                </div>
                            </div>
                            <div class="c-headings-block c-headings-block--no-padding">
                                <div class="o-hidden-xs c-empty-space c-empty-space--lg  o-hidden-sm"></div>
                                <h1 class=" wpb_animate_when_almost_visible ro_1 c-headings-block__main h1 font-extra-bold"> THIẾT KẾ LOGO</h1>
                                <div class="c-headings-block__sub wpb_animate_when_almost_visible ro_2 h5 not-bold position-layout">
                                    <p id="HOMEPAGE_INTRODUCE_PC" class="mt-30 font-size20to13">
                                        Điểm chạm khởi đầu mang bản sắc thương hiệu
                                    </p>
                                    <p class="wpb_animate_when_almost_visible ro_3 mt-20" style="color: #F15822 !important;"><img src="~/images/brand/checkbox.png" style="height:16px; margin-right: 7px;"><span class="font-size16to13">Nền tảng xây dựng đồng bộ thương hiệu</span></p>
                                    <p class="wpb_animate_when_almost_visible ro_3 mt-20" style="color: #F15822 !important;"><img src="~/images/brand/checkbox.png" style="height:16px; margin-right: 7px;"><span class="font-size16to13">Thể hiện tầm nhìn của doanh nghiệp</span></p>
                                    <p class="wpb_animate_when_almost_visible ro_3 mt-20" style="color: #F15822 !important;"><img src="~/images/brand/checkbox.png" style="height:16px; margin-right: 7px;"><span class="font-size16to13">Truyền đạt xây dựng niềm tin đối với khách hàng</span></p>
                                    <div class="c-headings-block__learn-more wpb_animate_when_almost_visible ro_4 mt-30 c-headings-block__learn-more-button">
                                        <a class="zalo-link font-size25to16" style="color: white !important;">
                                            <div class="glass-layout"></div>
                                            TƯ VẤN NGAY
                                        </a>
                                    </div>
                                </div>
                                <div class="c-headings-block__sub wpb_animate_when_almost_visible ro_4 h5 not-bold">
                                    <div class="o-row identified-brand">
                                        <div class="c-empty-space c-empty-space--lg"></div>
                                        <div class="identified-logo" style="display:flex">
                                            <div class="animation-holder identity">
                                                <div class="service-icon__holder">
                                                    <div class="service-icon-detail">
                                                        <div class="animated-icon" data-icon="ux_ui_design" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="c-entry__content-name">
                                                    <div class="font-size16to13">Thiết Kế Nhận Diện</div>
                                                </div>
                                            </div>
                                            <div id="design-services-box" class="services s-cms-content fadeInUp">
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="cloud_devops" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="support" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="strategic_consulting" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="mobile_development" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="web_development" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--lg  o-hidden-sm identified-brand-border-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section o-lg-col-6 o-md-col-6 section-col-image section-col-image-logo-brand" style="z-index:1">
                            <div class="single-image">
                                <div class="animated-img brand-image">
                                    <img src="~/images/brand/brand2.png" class="img-brand" />
                                    <img src="~/images/brand/shadow.png" class="img-shadow" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="o-section o-row o-row--width-full s-color-scheme">
                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="animated-section o-sm-col-12 o-lg-col-offset-1 o-lg-col-10 o-sm-col-offset-0 ">
                            <div class="c-empty-space c-empty-space--lg o-hidden-md"></div>
                        </div>
                    </div>
                </div>
                <div class="o-row c-portfolio-block o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="o-sm-col-12" style="padding: 0 !important">
                            <div class="c-mm-vc-posts">
                                <div class="o-row c-portfolio-block">
                                    <div class="animated-section">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class=" design-logo wpb_animate_when_almost_visible ro_1">
                                                    <img src="~/images/brand/backgroung-design-logo.png" style="min-height: 375px;" />
                                                    <div class="design-logo-black"></div>
                                                    <div class="design-logo-detail">
                                                        <div class="wpb_animate_when_almost_visible ro_2">
                                                            <div><span class="design-logo-detail-01 font-size32to16">Thiết kế logo</span></div>
                                                            <div>
                                                                <span class="underlined mt-20" style="margin:auto; width: 135px !important; border-bottom: solid #E9A541; "></span>
                                                            </div>
                                                        </div>
                                                        <div class="wpb_animate_when_almost_visible ro_3">
                                                            <span class="design-logo-detail-02 font-size16to13">Logo: Điểm chạm đầu tiên mang bản sắc thương hiệu</span>
                                                        </div>
                                                        <div class="wpb_animate_when_almost_visible ro_4">
                                                            <a class="design-logo-contact-now font-size25to13 zalo-link">Liên hệ tư vấn</a>
                                                        </div>
                                                        <div class="design-logo-product wpb_animate_when_almost_visible ro_4" style="height:100px; display:flex; justify-content: space-around">
                                                            <div class="logo-product">
                                                                <div class="logo-product-count font-size30to13" data-val="1000">000<span>+</span></div>
                                                                <div class="logo-product-text font-size16to13 mt-10">Dự án hoàn thành</div>
                                                            </div>
                                                            <div class="logo-product">
                                                                <div class="logo-product-count font-size30to13" data-val="500">000<span>+</span></div>
                                                                <div class="logo-product-text font-size16to13 mt-10">Đối tác</div>
                                                            </div>
                                                            <div class="logo-product">
                                                                <div class="logo-product-count font-size30to13" data-val="30">00<span>+</span></div>
                                                                <div class="logo-product-text font-size16to13 mt-10">Ngành hàng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--md o-hidden-xs"></div>
                                    </div>
                                    <div class="animated-section">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class=" role-of-logo wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-role-of-logo brand-title">VAI TRÒ CỦA LOGO ĐỐI VỚI DOANH NGHIỆP</div>
                                                    <div class="content-role-of-logo mt-30">
                                                        <span class="wpb_animate_when_almost_visible font-size16to13 ro_2">
                                                            LOGO là một hình khối thể hiện lĩnh vực, bản thể, cá tính của mỗi doanh nghiệp. Tầm quan trọng của logo là nó mang lại cho doanh nghiệp một bản sắc. Logo làm cho thương hiệu của bạn trở nên gắn bó hơn, cung cấp nền tảng cho những nỗ lực xây dựng thương hiệu trong tương lai của bạn và hơn thế nữa!
                                                        </span>
                                                        <br />
                                                        <span class="wpb_animate_when_almost_visible font-size16to13 ro_3">
                                                            Nói cách khác, logo là khối xây dựng thương hiệu hình ảnh của bạn và là tài sản mà doanh nghiệp có thể sử dụng để kết nối với khách hàng của mình. Vậy hãy nâng niu và bắt tay vào làm logo chuyên nghiệp bởi đây chính là điểm chạm đầu tiên bạn tới khách hàng.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--md o-hidden-sm"></div>
                                    </div>
                                    <div class="animated-section section-reason-of-logo">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class="title-reason-of-logo brand-title wpb_animate_when_almost_visible ro_2">LÝ DO ĐỂ SỞ HỮU LOGO CHUYÊN NGHIỆP</div>
                                                <div class=" reason-of-logo mt-100 wpb_animate_when_almost_visible ro_2">
                                                    <div class="reason-content shadow-bow wpb_animate_when_almost_visible ro_1">
                                                        <div class="number-reason-content">
                                                            <img src="~/images/brand/backroundNumber.png" />
                                                            <span class="number">01</span>
                                                        </div>
                                                        <div class="logo-reason-content">
                                                            <img src="~/images/brand/01.png" />
                                                            <div class="title-logo-reason-content font-size16to13">Mang đến bản sắc riêng</div>
                                                        </div>
                                                        <div class="detail-reason-content font-size16to13">
                                                            Trong một thế giới được tương tác bằng trăm ngàn nhãn hiệu, một logo đặc biệt làm cho khách hàng dễ nhớ hơn.
                                                        </div>
                                                    </div>
                                                    <div class="reason-content shadow-bow wpb_animate_when_almost_visible ro_2">
                                                        <div class="number-reason-content">
                                                            <img src="~/images/brand/backroundNumber.png" />
                                                            <span class="number">02</span>
                                                        </div>
                                                        <div class="logo-reason-content">
                                                            <img src="~/images/brand/02.png" />
                                                            <div class="title-logo-reason-content font-size16to13">Dễ dàng kết nối với khách hàng</div>
                                                        </div>
                                                        <div class="detail-reason-content font-size16to13">
                                                            Trong một thế giới được tương tác bằng trăm ngàn nhãn hiệu, một logo đặc biệt làm cho khách hàng dễ nhớ hơn.
                                                        </div>
                                                    </div>
                                                    <div class="reason-content shadow-bow wpb_animate_when_almost_visible ro_3">
                                                        <div class="number-reason-content">
                                                            <img src="~/images/brand/backroundNumber.png" />
                                                            <span class="number">03</span>
                                                        </div>
                                                        <div class="logo-reason-content">
                                                            <img src="~/images/brand/03.png" />
                                                            <div class="title-logo-reason-content font-size16to13">Niềm tin vào thương hiệu</div>
                                                        </div>
                                                        <div class="detail-reason-content font-size16to13">
                                                            Sở hữu logo chuyên nghiệp giúp gia tăng niềm tin của khách hàng và khẳng định sự hợp pháp, tin cậy, tạo sự phát triển lâu bền.
                                                        </div>
                                                    </div>
                                                    <div class="reason-content shadow-bow wpb_animate_when_almost_visible ro_4">
                                                        <div class="number-reason-content">
                                                            <img src="~/images/brand/backroundNumber.png" />
                                                            <span class="number">04</span>
                                                        </div>
                                                        <div class="logo-reason-content">
                                                            <img src="~/images/brand/04.png" />
                                                            <div class="title-logo-reason-content font-size16to13"> Gia tăng giá trị thương hiệu</div>
                                                        </div>
                                                        <div class="detail-reason-content font-size16to13">
                                                            Logo chuyên nghiệp giúp bạn nổi bật hơn so với đối thủ. Chứng minh tầm vóc, năng lực doanh nghiệp.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-empty-space c-empty-space--md o-hidden-sm"></div>
                                        </div>
                                    </div>
                                    <div class="animated-section mt-40">
                                        <div class="animation-holder">
                                            <div class="o-row o-row--width-normal s-color-scheme wpb_animate_when_almost_visible ro_1">
                                                <div class="o-container o-container--width-normal o-container--width-same">
                                                    <div class="o-sm-col-12 o-lg-col-offset-1 o-lg-col-10 o-sm-col-offset-0 o-xs-col-12">
                                                        <div class="c-empty-space c-empty-space--md"></div>
                                                        <div class="c-vc-column-text u-text-center">
                                                            <h3 class="h3 homepage-partner-text brand-title text_block_heading fadeInUp">Các đơn vị hợp tác tiêu biểu</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="o-row o-row--width-normal s-color-scheme wpb_animate_when_almost_visible ro_2">
                                                <div class="o-container o-container--width-normal o-container--width-same o-container--no-padding" style="justify-content: center;">
                                                    <div class="o-lg-col-12">
                                                        <div class="o-row o-container o-container--no-padding">
                                                            <div class="o-lg-col-12">
                                                                <div class="c-empty-space c-empty-space--lg"></div>
                                                                <div class="c-mm-vc-content-block">
                                                                    <div class="o-vc-layout">
                                                                        <section class="o-section o-row partner-logos o-row--width-full s-color-scheme">
                                                                            <div class="o-row o-row--width-normal s-color-scheme">
                                                                                <div id="partners-box" class="o-container o-container--width-normal o-container--width-same o-container--no-padding">
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="o-row o-container">
                                                            <div class="o-sm-col-12">
                                                                <div class="c-empty-space c-empty-space--md"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--lg "></div>
                                    </div>
                                    <div class="animated-section section-design-action">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections">
                                                <div class=" design-action wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-design-action brand-title wpb_animate_when_almost_visible ro_2">THIẾT KẾ LOGO TẠI THINK & ACTION AGENCY</div>
                                                    <div class="content-design-action wpb_animate_when_almost_visible ro_3">
                                                        <div class="detail-design-action mt-60 wpb_animate_when_almost_visible ro_1">
                                                            <img src="~/images/brand/dsac01.png" />
                                                            <div class="detail-content-design-action font-size16to13">Tư vấn chuyên sâu, xây dựng giải pháp toàn diện cho thương hiệu  </div>
                                                        </div>
                                                        <div class="detail-design-action mt-60 wpb_animate_when_almost_visible ro_2">
                                                            <img src="~/images/brand/dsac02.png" />
                                                            <div class="detail-content-design-action font-size16to13">Đảm bảo tính chuyên nghiệp, thẩm mỹ, thân thiện với người dùng  </div>
                                                        </div>
                                                        <div class="detail-design-action mt-60 wpb_animate_when_almost_visible ro_3">
                                                            <img src="~/images/brand/dsac03.png" />
                                                            <div class="detail-content-design-action font-size16to13">Truyền tải câu chuyện thương hiệu và thông điệp doanh nghiệp thông qua thiết kế logo  </div>
                                                        </div>
                                                        <div class="detail-design-action mt-60 wpb_animate_when_almost_visible ro_4">
                                                            <img src="~/images/brand/dsac04.png" />
                                                            <div class="detail-content-design-action font-size16to13">Đáp ứng đồng bộ sử dụng trên mọi không gian  </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated-section section-procedure">
                                        <img src="~/images/brand/procedureLeft.png" class="img-left  procedure wpb_animate_when_almost_visible ro_1 o-hidden-sm o-hidden-xs" />
                                        <img src="~/images/brand/procedureRight.png" class="img-right  procedure wpb_animate_when_almost_visible ro_1 o-hidden-sm o-hidden-xs" />
                                        <div class="c-portfolio-block__single">
                                            <div class="sections">
                                                <div class=" procedure wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-procedure brand-title wpb_animate_when_almost_visible ro_1">
                                                        QUY TRÌNH THIẾT KẾ LOGO TẠI THINK & ACTION
                                                    </div>
                                                    <div class="content-procedure wpb_animate_when_almost_visible ro_1 mt-60">
                                                        <div class="detail-procedure detail-procedure-left wpb_animate_when_almost_visible ro_1">
                                                            <img src="~/images/brand/procedure01.png" />
                                                            <div class="step-procedure font-size16to13">
                                                                <p>Bước 1</p>
                                                                Tìm hiểu thông tin khách hàng
                                                            </div>
                                                        </div>
                                                        <div class="detail-procedure detail-procedure-right wpb_animate_when_almost_visible ro_2">
                                                            <div class="step-procedure font-size16to13">
                                                                <p>Bước 2</p>
                                                                Thiết kế demo gửi khách hàng
                                                            </div>
                                                            <img src="~/images/brand/procedure02.png" />
                                                        </div>
                                                        <div class="detail-procedure detail-procedure-left wpb_animate_when_almost_visible ro_3">
                                                            <img src="~/images/brand/procedure03.png" />
                                                            <div class="step-procedure font-size16to13">
                                                                <p>Bước 3</p>
                                                                Thiết kế demo gửi khách hàng
                                                            </div>
                                                        </div>
                                                        <div class="detail-procedure detail-procedure-right wpb_animate_when_almost_visible ro_4">
                                                            <div class="step-procedure font-size16to13">
                                                                <p>Bước 4</p>
                                                                Thiết kế demo gửi khách hàng
                                                            </div>
                                                            <img src="~/images/brand/procedure04.png" />
                                                        </div>
                                                        <div class="detail-procedure detail-procedure-left wpb_animate_when_almost_visible ro_5">
                                                            <img src="~/images/brand/procedure05.png" />
                                                            <div class="step-procedure font-size16to13">
                                                                <p>Bước 5</p>
                                                                Bàn giao sản phẩm
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-empty-space c-empty-space--lg  o-hidden-sm identified-brand-border-bottom"></div>
                                        </div>
                                    </div>
                                    <div class="animated-section section-commitment">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections">
                                                <div class=" commitment wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-commitment brand-title wpb_animate_when_almost_visible ro_2">CAM KẾT DỊCH VỤ SẢN PHẨM</div>
                                                    <div class="content-commitment wpb_animate_when_almost_visible ro_3 mt-60">
                                                        <div class="detail-commitment wpb_animate_when_almost_visible ro_1">
                                                            <img src="~/images/brand/commitment01.png" />
                                                            <div class="content-detail-commitment font-size16to13 mt-10">100% sản phẩm độc quyền không sao chép</div>
                                                        </div>
                                                        <div class="detail-commitment wpb_animate_when_almost_visible ro_2">
                                                            <img src="~/images/brand/commitment02.png" />
                                                            <div class="content-detail-commitment font-size16to13 mt-10">Miễn phí tư vấn 100%</div>
                                                        </div>
                                                        <div class="detail-commitment wpb_animate_when_almost_visible ro_3">
                                                            <img src="~/images/brand/commitment03.png" />
                                                            <div class="content-detail-commitment font-size16to13 mt-10">Đảm bảo tiến độ như cam kết</div>
                                                        </div>
                                                        <div class="detail-commitment wpb_animate_when_almost_visible ro_4">
                                                            <img src="~/images/brand/commitment04.png" />
                                                            <div class="content-detail-commitment font-size16to13 mt-10"> Hỗ trợ xử lý sau khi hoàn thành dự án</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="c-empty-space c-empty-space--md o-hidden-xs"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated-section">
                                        <div class="animation-holder">
                                            <main class="c-main homepage-project">
                                                <div class="o-vc-layout">
                                                    <section id="agile-development" class="o-section o-row o-row--width-full s-color-scheme">
                                                        <div class="o-row o-row--width-normal s-color-scheme">
                                                            <div class="o-container o-container--width-normal o-container--width-same o-container--no-padding">
                                                                <div class="animated-section o-sm-col-12 o-lg-col-12 o-xs-col-12">
                                                                    <div class="c-empty-space c-empty-space--sm"></div>
                                                                    <div class="c-vc-column-text u-text-center wpb_animate_when_almost_visible ro_1">
                                                                        <div class="h4 text_block_heading brand-title ro_1 wpb_animate_when_almost_visible fadeInUp wpb_animate_when_almost_visible_now">
                                                                            DỰ ÁN NỔI BẬT
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-empty-space c-empty-space--sm"></div>
                                                                    <div id="Design" class="c-mm-vc-posts wpb_animate_when_almost_visible ro_2">
                                                                        @*CÁi này mang đi hỏi*@
                                                                        <div class="o-container o-container--width-normal o-container--width-same o-container--no-padding">
                                                                            <div id="projects" class="c-archive c-archive__services js-inf-scroll-container c-archive--centered">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-vc-column-text u-text-center">
                                                                        <div class="wpb_animate_when_almost_visible ro_4 mt-20 font-size20to13" style="color: #000000; padding: 0 5%;">
                                                                            Bạn muốn tham khảo thêm thiết kế trong lĩnh vực thiết kế của bạn?
                                                                        </div>
                                                                        <div class="c-headings-block__learn-more mt-20 c-headings-block__learn-more-button wpb_animate_when_almost_visible ro_4 mt-10">
                                                                            <a class="zalo-link font-size25to16" style="justify-content: center; width: 250px;">
                                                                                <div class="glass-layout"></div>
                                                                                XEM THÊM
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <div class="c-empty-space c-empty-space--md"></div>
                                                    <div class="c-empty-space c-empty-space--md"></div>
                                                </div>
                                            </main>
                                        </div>
                                    </div>
                                    <div class="animated-section section-question">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class="question wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-question brand-title">CÂU HỎI THƯỜNG GẶP</div>
                                                    <div class="content-question font-size16to13 mt-30">
                                                        <div class="block-question wpb_animate_when_almost_visible ro_2">
                                                            <div class="detail-question">
                                                                <span style="padding-right: 5rem;">1/ Cần chuẩn bị gì trước khi đăng ký gói Thiết kế logo?</span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Trước khi đăng kí gói Thiết kế Logo, doanh nghiệp cần cân nhắc các câu hỏi:
                                                                <br />
                                                                - Mục tiêu kinh doanh tổng thể của doanh nghiệp là gì ?
                                                                <br />
                                                                - Doanh nghiệp muốn thiết kế đạt được mục tiêu gì ?
                                                                <br />
                                                                - Đối tượng mục tiêu mà doanh nghiệp muốn hướng tới ?
                                                                <br />
                                                                - Doanh nghiệp muốn logo thương hiệu của mình được nhìn nhận như thế nào ?
                                                                <br />
                                                                - Giá trị và sứ mệnh thương hiệu là gì ?
                                                                <br />
                                                                - Doanh nghiệp của bạn có ý tưởng minh họa về logo mình muốn thiết kế chưa?
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_2">
                                                            <div class="detail-question">
                                                                <span>2/ Tôi muốn tham khảo thêm mẫu Thiết kế logo?</span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Doanh nghiệp có thể truy cập trang https://thinkaction.vn/du-an để tham khảo thêm các mẫu Thiết kế Logo nổi bật từ Think & Action Agency, hoặc liên hệ hotline để tham khảo các mẫu theo lĩnh vực kinh doanh
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_3">
                                                            <div class="detail-question">
                                                                <span>3/ Bản quyền được xử lý như thế nào?</span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Thiết kế logo sau khi hoàn thiện và bàn giao lại sẽ hoàn toàn thuộc quyền sở hữu của doanh nghiệp.
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_3">
                                                            <div class="detail-question">
                                                                <span>4/ Thời gian thiết kế logo mất bao lâu?</span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Thời gian thiết kế logo doanh nghiệp từ Think & Action sẽ trong khoảng 5 - 7 ngày
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_4">
                                                            <div class="detail-question">
                                                                <span>5/ Được nhận bao nhiêu ý tưởng thiết kế logo?</span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Khách hàng sẽ được nhận 3 option thiết kế phù hợp với yêu cầu đặt ra để lựa chọn.
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_4">
                                                            <div class="detail-question">
                                                                6/ Được yêu cầu sửa logo bao nhiêu lần?
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Khách hàng được yêu cầu sửa thiết kế tối đa 3 lần.
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_5">
                                                            <div class="detail-question">
                                                                7/ Báo giá thiết kế logo thương hiệu?
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Chi phí thiết kế logo tùy thuộc vào gói thiết kế do khách hàng lựa chọn. Liên hệ Think & Action để được tư vấn thêm về các gói Thiết kế Logo cho thương hiệu
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="c-headings-block__learn-more c-headings-block__learn-more-button wpb_animate_when_almost_visible ro_5 mt-60" style="display: flex; justify-content: center;">
                                                        <a class="zalo-link font-size25to16" style="justify-content: center; width: 250px;">
                                                            <div class="glass-layout"></div>
                                                            TƯ VẤN
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--sm"></div>
                                    </div>
                                    <div class="animated-section section-news">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class="news wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-news brand-title wpb_animate_when_almost_visible ro_2">BÀI VIẾT LIÊN QUAN</div>
                                                    <div class="content-question mt-30 wpb_animate_when_almost_visible ro_3">
                                                        <div id="news-Content">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--lg "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
<script src="~/js/video.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-migrate.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        if (true) {
            $('#logo-video source').attr('src', '/videos/logo_new.mp4');
            $('#logo-video').get(0).load();
            $('#logo-video').get(0).play();

            $('#design-video source').attr('src', '/videos/design_new.mp4');
            $('#design-video').get(0).load();
            $('#design-video').get(0).play();

            $('#tvc-video source').attr('src', '/videos/tvc_new.mp4');
            $('#tvc-video').get(0).load();
            $('#tvc-video').get(0).play();

            $('#digital_marketing-video source').attr('src', '/videos/digital_marketing_new.mp4');
            $('#digital_marketing-video').get(0).load();
            $('#digital_marketing-video').get(0).play();

            $('#web_mobile-video source').attr('src', '/videos/web_mobile_new.mp4');
            $('#web_mobile-video').get(0).load();
            $('#web_mobile-video').get(0).play();

            $('#event-video source').attr('src', '/videos/event_new.mp4');
            $('#event-video').get(0).load();
            $('#event-video').get(0).play();
            //new Pageable("#c-portfolio-block");
        }
        else {
            $('#logo-video source').attr('src', '');
        }
    });
</script>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-migrate.js"></script>
<script src="~/js/pagination.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#nav-services').addClass("active");
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
            "url": "https://cms.thinkaction.vn/all-options",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            var data = response.data;
            //$('#HOMEPAGE_INTRODUCE_PC').text(data.find(x => x.Code === 'HOMEPAGE_INTRODUCE').ValuePC);
            //$('#HOMEPAGE_INTRODUCE_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_INTRODUCE').ValueMobile);

            $('#HOMEPAGE_DESIGN_PC').text(data.find(x => x.Code === 'HOMEPAGE_DESIGN').ValuePC);
            $('#HOMEPAGE_DESIGN_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_DESIGN').ValueMobile);

            $('#HOMEPAGE_TVC_PC').text(data.find(x => x.Code === 'HOMEPAGE_TVC').ValuePC);
            $('#HOMEPAGE_TVC_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_TVC').ValueMobile);

            $('#HOMEPAGE_DIGITAL_MARKERTING_PC').text(data.find(x => x.Code === 'HOMEPAGE_DIGITAL_MARKERTING').ValuePC);
            $('#HOMEPAGE_DIGITAL_MARKERTING_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_DIGITAL_MARKERTING').ValueMobile);

            $('#HOMEPAGE_WEB_MOBILE_APP_PC').text(data.find(x => x.Code === 'HOMEPAGE_WEB_MOBILE_APP').ValuePC);
            $('#HOMEPAGE_WEB_MOBILE_APP_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_WEB_MOBILE_APP').ValueMobile);

            $('#HOMEPAGE_EVENTS_PC').text(data.find(x => x.Code === 'HOMEPAGE_EVENTS').ValuePC);
            $('#HOMEPAGE_EVENTS_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_EVENTS').ValueMobile);

            $(".zalo-link").attr("href", data.find(x => x.Code === 'CONTACT_ZALO_LINK').ValuePC);
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
            "url": "https://cms.thinkaction.vn/homepage-doi-tac",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            var data = response.data;
            $.each(data, function (key, value) {
                var imageLink = "https://cms.thinkaction.vn/" + value.Logo;
                //debugger;
                var html = '<div onclick="window.open(\'' + value.Link + '\',\'_blank\');" style="cursor: pointer;" class="o-lg-col-3 o-xs-col-6">' +
                    '<div class="wpb_single_image wpb_content_element vc_align_center">' +
                    '<figure class="wpb_wrapper vc_figure">' +
                    '<div class="vc_single_image-wrapper   ">' +
                    '<img src="' + imageLink + '" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="">' +
                    '<noscript>' +
                    '<img src="' + imageLink + '" class="vc_single_image-img attachment-full" alt="">' +
                    '</noscript>' +
                    '</div>' +
                    '</figure>' +
                    '</div>' +
                    '</div>';
                $('#partners-box').append(html);
            });
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        function Counting(isRun) {
            if (isRun) {
                let valueDisplays = document.querySelectorAll(".logo-product-count");
                let interval = 5000;

                valueDisplays.forEach((valueDisplay) => {
                    let startValue = 0;
                    let endValue = parseInt($(valueDisplay).attr("data-val"));
                    let uraTime = Math.floor(interval / endValue);
                    let count = setInterval(function () {
                        startValue += 2;
                        valueDisplay.textContent = startValue + "+";
                        if (startValue == endValue) {
                            clearInterval(count);
                        }
                    }, uraTime);
                });
            }
        }
        var IsRun = true;
        $(window).scroll(function (event) {
            var pos_body = $('html,body').scrollTop();
            if (pos_body >= 800 && pos_body <= 1600) {
                Counting(IsRun);
                IsRun = false;
            }
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
            "url": "https://cms.thinkaction.vn/homepage-project",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            var data = response.data;
            $.each(data, function (key, value) {
                if (value.ProductCategoryId === 1 && key < 28) {
                    var link = "https://thinkaction.vn/chi-tiet-du-an?slug=" + value.Slug + "&id=" + value.ProductId;
                    var imageLink = "https://cms.thinkaction.vn/" + value.Thumbnail;
                    var classId = "item-" + value.ProductCategoryId;
                    var html = '<div onclick="window.open(\'' + link + '\',\'_blank\');" style="cursor: pointer;"  class="c-archive__col c-archive__col--rounded o-xs-col-12 o-sm-col-6 o-md-col-6 o-lg-col-4 js-inf-scroll-item ' + classId + '">' +
                        '<article class="c-entry  c-entry--tile c-entry--type-tile c-entry--status-publish c-entry--has-post-thumbnail c-entry--hentry u-text-left u-bgnd-base has-no-permalink has-header-image has-light-header-text s-color-scheme has-dark-header-bgnd"' +
                        'itemscope="itemscope" itemtype="https://schema.org/CreativeWork">' +
                        '<div class="c-entry-header">' +
                        '<div style="" class="c-entry-header__image">' +
                        '<img src="' + imageLink + '" alt="" class="o-lazy-load o-lazy-load--img landscape cw-lesser featured full c-entry-header__img o-lazy-load--complete">' +
                        '<noscript>' +
                        '<img src="' + imageLink + '"' +
                        'class="landscape cw-lesser featured full c-entry-header__img">' +
                        '</noscript>' +
                        '</div>' +
                        '<div class="c-tag c-entry-header__label u-z1">' +
                        '</div>' +
                        '</div>' +
                        '<div class="c-entry__content">' +
                        '<div class="c-entry__summary entry-summary s-cms-content"' +
                        'itemprop="description">' +
                        '<a href="' + link + '" target="_blank" class="o-link-color-on-hover"' +
                        'rel="noopener noreferrer">' + value.Name + '</a>' +
                        '</div>' +
                        '</div>' +
                        '<div class="c-entry__anchor" id=""></div>' +
                        '</article>' +
                        '</div>';
                    $('#projects').append(html);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.detail-answer').slideUp();
            $('.detail-question').click(function (e) {
                // Onyly
                //$('.detail-answer').slideUp();
                $(this).next().slideToggle();
                $(this).toggleClass('textColorOrange');
                $(this).toggleClass('bbColorOrange');
                $(this).find('.icon-Down').toggleClass('rotate');
            });
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
            "url": "https://cms.thinkaction.vn/homepage-tin-tuc?pageIndex=1",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            var data = response.data.slice(1);
            data.sort();
            data.reverse();
            var rawhtml = '';
            $.each(data, function (key, value) {
                console.log(value);
                if ((value.ArticleId == 261 || value.ArticleId == 258 || value.ArticleId == 257)) {
                    var link = "https://thinkaction.vn/chi-tiet-tin-tuc?slug=" + value.Slug + "&id=" + value.ArticleId;
                    var imageLink = "https://cms.thinkaction.vn/" + value.Thumbnail;
                    var html = '<div onclick="window.open(\'' + link + '\',\'_blank\');" style="cursor: pointer;" class="block-new">' +
                        ' <img src="' + imageLink + '" />' +
                        '<div class="title-new font-size16to13 mt-30">' + value.Title + '</div>' +
                        '<div class="content-new font-size16to13 mt-20">' + value.SummaryContent + '</div>' +
                        '</div >';
                    rawhtml += html;

                }
            });
            $('#news-Content').html(rawhtml);

        });
    });
</script>

