<title>Digital Marketing</title>
<div id="content" class="c-site-content">
    <main id="main" role="main" itemprop="mainContentOfPage" class="c-main homepage-digital-marketing">
        <div class="o-vc-layout">
            <section class="o-section o-row animated-section o-row--width-full c-service--section s-color-scheme">
                <img class="o-hidden-xs o-hidden-md o-hidden-sm background-design" src="~/images/background-design.png" />
                <img class="o-hidden-lg background-design-mobile" src="~/images/background-design-mobile.png" />
                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="o-sm-col-12 o-hidden-lg o-hidden-md o-hidden-sm">
                            <div class="c-empty-space c-empty-space--xs"></div>
                            <h3 class="o-hidden-lg c-headings-block__main wpb_animate_when_almost_visible ro_2 h3">
                                Digital Marketing
                            </h3>
                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-src="../images/Digital-marketing.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full" alt="Digital-marketing" data-lazy-srcset="../images/Digital-marketing.png 1344w, ../images/Digital-marketing.png 300w, ../images/Digital-marketing.png 1030w, ../images/Digital-marketing.png 768w">
                                        <noscript>
                                            <img src="../images/Digital-marketing.png" class="vc_single_image-img attachment-full" alt="Digital-marketing" srcset="../images/Digital-marketing.png 1344w, ../images/Digital-marketing.png 300w, ../images/Digital-marketing.png 1030w, ../images/Digital-marketing.png 768w">
                                        </noscript>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-container o-container--width-normal" style="position: relative;">
                    <div class="o-col-12">
                        <div class="service-icon animation-holder">
                            <div class="animated-icon" data-icon="digital-marketing" data-autoplay="true" data-loop="false" data-section="positions"></div>
                        </div>
                    </div>
                </div>

                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--valign-middle o-container--width-same">
                        <div class="o-sm-col-6 o-md-col-4 o-lg-col-4 o-xs-col-12">
                            <div class="c-empty-space c-empty-space--lg o-hidden-xs"></div>
                            @*<div class="c-empty-space c-empty-space--xs o-hidden-lg o-hidden-md o-hidden-sm"></div>*@
                            <div class="c-headings-block animation-holder">
                                <div class="c-empty-space c-empty-space--lg o-hidden-xs"></div>
                                <h3 class="o-hidden-xs o-hidden-sm o-hidden-md c-headings-block__main wpb_animate_when_almost_visible ro_2 h3">
                                    Digital Marketing
                                </h3>
                                @*<div class="c-empty-space c-empty-space--xs"></div>*@
                                <div class="c-vc-column-text">
                                    <div class=" s-cms-content fadeInUp">
                                        <p id="SERVICES_DIGITAL_MARKERTING_PC" class="wpb_animate_when_almost_visible ro_3 o-hidden-xs">
                                            Giúp doanh nghiệp xây dựng ngôi nhà số trên đa nền tảng, gói giải pháp truyền thông quảng bá thương hiệu thông qua nền tảng số và internet mang đến tính hiệu quả, khả năng lan truyền nhanh chóng và tiết kiệm chi phí, xây dựng mô hình thương hiệu số sinh động, là công cụ truyền thông cần thiết cho mọi lĩnh vực hiện nay.
                                        </p>
                                        <p id="SERVICES_DIGITAL_MARKERTING_MOBILE" class="wpb_animate_when_almost_visible ro_3 o-hidden-sm o-hidden-md o-hidden-lg">
                                            Giúp doanh nghiệp xây dựng ngôi nhà số trên đa nền tảng, gói giải pháp truyền thông quảng bá thương hiệu thông qua nền tảng số và internet mang đến tính hiệu quả, khả năng lan truyền nhanh chóng và tiết kiệm chi phí, xây dựng mô hình thương hiệu số sinh động, là công cụ truyền thông cần thiết cho mọi lĩnh vực hiện nay.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="c-headings-block__learn-more wpb_animate_when_almost_visible ro_4 mt-40 c-headings-block__learn-more-button">
                                <a class="zalo-link">TƯ VẤN NGAY</a>
                            </div>
                            <div class="c-empty-space c-empty-space--xs"></div>
                            <div class="homepage-contact__link--box wpb_animate_when_almost_visible ro_5">
                                <div onclick="contactClickFunction('linkedin')" class="homepage-contact__link" style="background: url('../images/contact/in.jpg')"></div>
                                <div onclick="contactClickFunction('zalo')" class="homepage-contact__link" style="background: url('../images/contact/zalo.jpg')"></div>
                                <div onclick="contactClickFunction('facebook')" class="homepage-contact__link" style="background: url('../images/contact/facebook.jpg')"></div>
                                <div onclick="contactClickFunction('youtube')" class="homepage-contact__link" style="background: url('../images/contact/youtube.jpg')"></div>
                                <div onclick="contactClickFunction('behance')" class="homepage-contact__link" style="background: url('../images/contact/behance.jpg')"></div>
                            </div>
                            <div class="c-empty-space c-empty-space--xs"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="c-empty-space c-empty-space--xl o-hidden-xs"></div>
            <div class="c-empty-space c-empty-space--xs o-hidden-sm o-hidden-md o-hidden-lg"></div>
            <div class="o-row animated-section o-row--width-normal s-color-scheme">
                <div class="o-container o-container--width-normal o-container--width-same">
                    <div class="o-sm-col-12">
                        <div class="o-row o-container">
                            <div class="o-sm-col-8 o-lg-col-6 o-md-col-offset-0 o-md-col-6 o-xs-col-12 wpb_animate_when_almost_visible ro_1">
                                <div class="c-headings-block c-headings-block--no-padding">
                                    <div class="c-empty-space c-empty-space--md o-hidden-xs"></div>
                                    <h3 class="c-headings-block__main h3">
                                        Dịch Vụ <br /> Digital Marketing
                                    </h3>
                                    <div class="c-empty-space c-empty-space--xs o-hidden-lg o-hidden-md o-hidden-sm">
                                    </div>
                                    <div class="c-empty-space c-empty-space--md o-hidden-xs"></div>
                                </div>
                            </div>
                        </div>
                        <div class="o-row o-container">
                            <div class="o-sm-col-12 o-lg-col-offset-0 o-lg-col-11 o-md-col-offset-0 o-md-col-12 o-sm-col-offset-0 o-xs-col-12 wpb_animate_when_almost_visible ro_2">
                                <div class="c-mm-vc-posts">
                                    <div class="o-container o-container--width-normal">
                                        <div class="c-archive c-archive__services js-inf-scroll-container c-archive--centered">
                                            <div class="c-archive__col c-archive__col--rounded o-xs-col-12 o-sm-col-4 o-md-col-4 o-lg-col-4 js-inf-scroll-item">
                                                <article id="post-22985"
                                                         class="c-entry c-entry--22985 c-entry--tile c-entry--type-tile c-entry--status-publish c-entry--has-post-thumbnail c-entry--hentry u-text-left u-bgnd-base has-no-permalink has-header-image has-light-header-text s-color-scheme has-dark-header-bgnd marketing"
                                                         itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                                    <div class="c-entry-header">
                                                        <div style="" class="c-entry-header__image">                                                            
                                                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                                 data-lazy-src="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/marketing.png" alt=""
                                                                 class="o-lazy-load o-lazy-load--img landscape cw-lesser featured full c-entry-header__img"
                                                                 width="2200" height="2200" itemprop="image"
                                                                 data-lazy-srcset="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/marketing.png 2200w, https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/marketing.png 2200w">
                                                            <noscript>
                                                                <img src="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/marketing.png" alt=""
                                                                     class="landscape cw-lesser featured full c-entry-header__img"
                                                                     width="2200" height="2200" itemprop="image"
                                                                     srcset="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/marketing.png 2200w, https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/marketing.png 2200w">
                                                            </noscript>
                                                        </div>
                                                        <div class="c-tag c-entry-header__label u-z1">
                                                        </div>
                                                    </div>
                                                    <div class="o-sm-col-12 o-hidden-lg small-device">
                                                        <div class="c-empty-space c-empty-space--xs"></div>
                                                        <div class="services s-cms-content wpb_animate_when_almost_visible ro_2 fadeInUp">
                                                            <div class="animation-holder">
                                                                <div class="service-icon__holder">
                                                                    <div class="service-icon-detail">
                                                                        <div class="animated-icon" data-icon="dice"
                                                                             data-autoplay="true"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="c-entry__content-name">
                                                                    <p>Gói Marketing Tổng Thể</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="o-hidden-xs o-hidden-sm o-hidden-md c-entry__content big-device">
                                                        <header class="c-entry__content-header">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_2 fadeInUp">
                                                                <div class="animation-holder">
                                                                    <div class="service-icon__holder">
                                                                        <div class="service-icon-detail">
                                                                            <div class="animated-icon"
                                                                                 data-icon="dice"
                                                                                 data-autoplay="true"></div>
                                                                        </div>
                                                                    </div>
                                                                    <p class="c-entry__content-name">Gói Marketing Tổng Thể</p>
                                                                </div>
                                                            </div>
                                                        </header>
                                                    </div>
                                                    <div class="c-entry__anchor" id=""></div>
                                                </article>
                                            </div>
                                            <div class="c-archive__col c-archive__col--rounded o-xs-col-12 o-sm-col-4 o-md-col-4 o-lg-col-4 js-inf-scroll-item">
                                                <article id="post-22985"
                                                         class="c-entry c-entry--22985 c-entry--tile c-entry--type-tile c-entry--status-publish c-entry--has-post-thumbnail c-entry--hentry u-text-left u-bgnd-base has-no-permalink has-header-image has-light-header-text s-color-scheme has-dark-header-bgnd website build"
                                                         itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                                    <div class="c-entry-header">
                                                        <div style="" class="c-entry-header__image">
 
                                                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                                 data-lazy-src="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/build.png" alt=""
                                                                 class="o-lazy-load o-lazy-load--img landscape cw-lesser featured full c-entry-header__img"
                                                                 width="2200" height="2200" itemprop="image"
                                                                 data-lazy-srcset="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/build.png 2200w, https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/build.png 2200w">
                                                            <noscript>
                                                                <img src="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/build.png" alt=""
                                                                     class="landscape cw-lesser featured full c-entry-header__img"
                                                                     width="2200" height="2200" itemprop="image"
                                                                     srcset="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/build.png 2200w, https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/build.png 2200w">
                                                            </noscript>
                                                        </div>
                                                        <div class="c-tag c-entry-header__label u-z1">
                                                        </div>
                                                    </div>
                                                    <div class="o-sm-col-12 o-hidden-lg small-device">
                                                        <div class="c-empty-space c-empty-space--xs"></div>
                                                        <div class="services s-cms-content wpb_animate_when_almost_visible ro_2 fadeInUp">
                                                            <div class="animation-holder">
                                                                <div class="service-icon__holder">
                                                                    <div class="service-icon-detail">
                                                                        <div class="animated-icon" data-icon="system_integration"
                                                                             data-autoplay="true"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="c-entry__content-name">
                                                                    <p>Xây Dựng <br /> Phòng Marketing Doanh Nghiệp</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="o-hidden-xs o-hidden-sm o-hidden-md c-entry__content big-device">
                                                        <header class="c-entry__content-header">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_2 fadeInUp">
                                                                <div class="animation-holder">
                                                                    <div class="service-icon__holder">
                                                                        <div class="service-icon-detail">
                                                                            <div class="animated-icon"
                                                                                 data-icon="system_integration"
                                                                                 data-autoplay="true"></div>
                                                                        </div>
                                                                    </div>
                                                                    <p class="c-entry__content-name">Xây Dựng <br /> Phòng Marketing Doanh Nghiệp</p>
                                                                </div>
                                                            </div>
                                                        </header>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="c-archive__col c-archive__col--rounded o-xs-col-12 o-sm-col-4 o-md-col-4 o-lg-col-4 js-inf-scroll-item">
                                                <article id="post-22985"
                                                         class="c-entry c-entry--22985 c-entry--tile c-entry--type-tile c-entry--status-publish c-entry--has-post-thumbnail c-entry--hentry u-text-left u-bgnd-base has-no-permalink has-header-image has-light-header-text s-color-scheme has-dark-header-bgnd mobile-app company"
                                                         itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                                    <div class="c-entry-header">
                                                        <div style="" class="c-entry-header__image">

                                                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                                 data-lazy-src="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/company.png" alt=""
                                                                 class="o-lazy-load o-lazy-load--img landscape cw-lesser featured full c-entry-header__img"
                                                                 width="2200" height="2200" itemprop="image"
                                                                 data-lazy-srcset="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/company.png 2200w, https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/company.png 2200w">
                                                            <noscript>
                                                                <img src="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/company.png" alt=""
                                                                     class="landscape cw-lesser featured full c-entry-header__img"
                                                                     width="2200" height="2200" itemprop="image"
                                                                     srcset="https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/company.png 2200w, https://cms.thinkaction.vn/uploadFiles/images/digital-marketing/company.png 2200w">
                                                            </noscript>
                                                        </div>
                                                        <div class="c-tag c-entry-header__label u-z1">
                                                        </div>
                                                    </div>
                                                    <div class="o-sm-col-12 o-hidden-lg small-device">
                                                        <div class="c-empty-space c-empty-space--xs"></div>
                                                        <div class="services s-cms-content wpb_animate_when_almost_visible ro_2 fadeInUp">
                                                            <div class="animation-holder">
                                                                <div class="service-icon__holder">
                                                                    <div class="service-icon-detail">
                                                                        <div class="animated-icon" data-icon="strategic_consulting"
                                                                             data-autoplay="true"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="c-entry__content-name">
                                                                    <p>Tư Vấn <br /> Chiến Lược Doanh Nghiệp</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="o-hidden-xs o-hidden-sm o-hidden-md c-entry__content big-device">
                                                        <header class="c-entry__content-header">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_2 fadeInUp">
                                                                <div class="animation-holder">
                                                                    <div class="service-icon__holder">
                                                                        <div class="service-icon-detail">
                                                                            <div class="animated-icon"
                                                                                 data-icon="strategic_consulting"
                                                                                 data-autoplay="true"></div>
                                                                        </div>
                                                                    </div>
                                                                    <p class="c-entry__content-name">Tư Vấn <br /> Chiến Lược Doanh Nghiệp</p>
                                                                </div>
                                                            </div>
                                                        </header>
                                                    </div>
                                                    <div class="c-entry__anchor" id=""></div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-empty-space c-empty-space--lg o-hidden-xs"></div>
        </div>
    </main>
</div>
<div class="animation-holder">
    <main class="c-main homepage-project">
        <div class="o-vc-layout">
            <section id="agile-development" class="o-section o-row o-row--width-full s-color-scheme">
                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="animated-section o-sm-col-12 o-lg-col-12 o-xs-col-12">
                            <div class="c-empty-space c-empty-space--sm"></div>
                            <div class="c-vc-column-text u-text-center wpb_animate_when_almost_visible ro_1">
                                <h3 class="h3 text_block_heading ro_1 wpb_animate_when_almost_visible fadeInUp wpb_animate_when_almost_visible_now">
                                    DỰ ÁN NỔI BẬT
                                </h3>
                            </div>
                            <div class="c-empty-space c-empty-space--sm"></div>
                            <div id="Design" class="c-mm-vc-posts wpb_animate_when_almost_visible ro_2">
                                <div class="o-container o-container--width-normal">
                                    <div id="projects" class="c-archive c-archive__services js-inf-scroll-container c-archive--centered">
                                    </div>
                                </div>
                            </div>
                            <div class="c-vc-column-text u-text-center">
                                @*<h5 class="h5 text_block_heading fadeInUp highlight-projects wpb_animate_when_almost_visible ro_3">
                                    Bạn muốn tham khảo thêm thiết kế trong lĩnh vực thiết kế của bạn?
                                </h5>*@
                                <div class="c-headings-block__learn-more mt-20 c-headings-block__learn-more-button wpb_animate_when_almost_visible ro_4">
                                    <a class="zalo-link">TƯ VẤN NGAY</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="c-empty-space c-empty-space--md"></div>
        </div>
    </main>
</div>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-migrate.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#nav-services').addClass("active");
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
              "url": "https://cms.thinkaction.vn/homepage-project",
              "method": "GET",
              "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                var data = response.data;
                        $.each(data, function (key, value) {
                            if(value.ProductCategoryId === 3){
                                var link = "https://thinkaction.vn/chi-tiet-du-an?slug=" + value.Slug + "&id=" + value.ProductId;
                            var imageLink = "https://cms.thinkaction.vn/" + value.Thumbnail;
                            var classId = "item-" + value.ProductCategoryId;
                             var html = '<div onclick="window.open(\'' + link + '\',\'_blank\');" style="cursor: pointer;"  class="c-archive__col c-archive__col--rounded o-xs-col-12 o-sm-col-6 o-md-col-6 o-lg-col-4 js-inf-scroll-item '+ classId+'">'+
                                            '<article class="c-entry  c-entry--tile c-entry--type-tile c-entry--status-publish c-entry--has-post-thumbnail c-entry--hentry u-text-left u-bgnd-base has-no-permalink has-header-image has-light-header-text s-color-scheme has-dark-header-bgnd"'+
                                                     'itemscope="itemscope" itemtype="https://schema.org/CreativeWork">'+
                                                '<div class="c-entry-header">'+
                                                    '<div style="" class="c-entry-header__image">'+
                                                        '<img src="' + imageLink + '" alt="" class="o-lazy-load o-lazy-load--img landscape cw-lesser featured full c-entry-header__img o-lazy-load--complete">'+
                                                        '<noscript>'+
                                                            '<img src="' + imageLink + '"'+
                                                                 'class="landscape cw-lesser featured full c-entry-header__img">'+
                                                        '</noscript>'+
                                                    '</div>'+
                                                    '<div class="c-tag c-entry-header__label u-z1">'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="c-entry__content">'+
                                                    '<div class="c-entry__summary entry-summary s-cms-content"'+
                                                         'itemprop="description">'+
                                                        '<a href="'+link+'" target="_blank" class="o-link-color-on-hover"'+
                                                           'rel="noopener noreferrer">' +value.Name+ '</a>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="c-entry__anchor" id=""></div>'+
                                            '</article>'+
                                        '</div>';
                            $('#projects').append(html);
                            }
                        });
            });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
              "url": "https://cms.thinkaction.vn/all-options",
              "method": "GET",
              "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                var data = response.data;
                $('#SERVICES_DIGITAL_MARKERTING_PC').html(data.find(x => x.Code === 'SERVICES_DIGITAL_MARKERTING').ValuePC.replace(/\n/g,'<br/>'));
                $('#SERVICES_DIGITAL_MARKERTING_MOBILE').html(data.find(x => x.Code === 'SERVICES_DIGITAL_MARKERTING').ValueMobile.replace(/\n/g,'<br/>'));
                $(".zalo-link").attr("href", data.find(x => x.Code === 'CONTACT_ZALO_LINK').ValuePC);
            });
    });
</script>

<script>
    function contactClickFunction(val) {
        jQuery(function ($) {
            var settings = {
              "url": "https://cms.thinkaction.vn/all-options",
              "method": "GET",
              "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                var data = response.data;
                if(val === "linkedin") {
                    window.open(data.find(x => x.Code === 'CONTACT_LINKEDIN_LINK').ValuePC);
                }
                if(val === "facebook") {
                    window.open(data.find(x => x.Code === 'CONTACT_FACEBOOK_LINK').ValuePC);
                }
                if(val === "zalo") {
                    window.open(data.find(x => x.Code === 'CONTACT_ZALO_LINK').ValuePC);
                }
                if(val === "youtube") {
                    window.open(data.find(x => x.Code === 'CONTACT_YOUTUBE_LINK').ValuePC);
                }
                if(val === "behance") {
                    window.open(data.find(x => x.Code === 'CONTACT_BEHANCE_LINK').ValuePC);
                }
            });
        });
    }
</script>

