@{
    var allServices = (List<Service>)ViewBag.Data;
}
<title>Think & Action</title>
<div id="content" class="c-site-content brand brand-identity">
    <main id="main" role="main" itemprop="mainContentOfPage" class="c-main homepage">
        <div id="c-portfolio-block" class="o-vc-layout">
            <section class="o-section o-row c-section-abstract intro animated-section o-row--width-full c-service--section s-color-scheme">
                <img class="o-hidden-md o-hidden-sm o-hidden-xs background-brand" src="~/images/brand/background-logo.png" />
                <img class="o-hidden-lg background-design-mobile" src="~/images/background-design-mobile.png" />
                <div class="c-empty-space o-hidden-xs c-empty-space--lg"></div>
                <div class="c-empty-space o-hidden-xs c-empty-space--lg" style="padding-top: 5rem !important"></div>
                <div class="o-row o-row--width-full s-color-scheme">
                    <div class="o-container o-container--width-normal floatCenter">
                        <div class="animated-section o-sm-col-10 o-md-col-6 o-xs-col-12 ">
                            <div class="o-hidden-md o-hidden-sm o-hidden-lg o-hidden-xs o-row o-container" style="justify-content: center;">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="c-empty-space c-empty-space--md"></div>

                                        <div class="c-empty-space c-empty-space--xs"></div>
                                    </figure>
                                </div>
                            </div>
                            <div class="c-headings-block c-headings-block--no-padding">
                                <div class="o-hidden-xs c-empty-space c-empty-space--lg  o-hidden-sm"></div>
                                <h1 class=" wpb_animate_when_almost_visible ro_1 c-headings-block__main h1 font-extra-bold">TVC Doanh Nghiệp</h1>
                                <div class="c-headings-block__sub wpb_animate_when_almost_visible ro_2 h5 not-bold position-layout">
                                    <p id="HOMEPAGE_INTRODUCE_PC" class="mt-30 font-size20to13">
                                        Một “profile động" chân thực hơn vạn lời nói
                                    </p>
                                    <p class="wpb_animate_when_almost_visible ro_3 mt-20" style="color: #F15822 !important;"><img src="~/images/brand/checkbox.png" style="height:16px; margin-right: 7px;"><span class="font-size16to13">Thể hiện thông tin thương hiệu theo cách tự nhiên và sinh động</span></p>
                                    <p class="wpb_animate_when_almost_visible ro_3 mt-20" style="color: #F15822 !important;"><img src="~/images/brand/checkbox.png" style="height:16px; margin-right: 7px;"><span class="font-size16to13">Tạo niềm tin và thiện cảm tới khách hàng, đối tác</span></p>
                                    <p class="wpb_animate_when_almost_visible ro_3 mt-20" style="color: #F15822 !important;"><img src="~/images/brand/checkbox.png" style="height:16px; margin-right: 7px;"><span class="font-size16to13">Kết nối, xây dựng giá trị thương hiệu</span></p>
                                    <div class="c-headings-block__learn-more wpb_animate_when_almost_visible ro_4 mt-30 c-headings-block__learn-more-button">
                                        <a class="zalo-link font-size25to16" style="color: white !important;">
                                            <div class="glass-layout"></div>
                                            TƯ VẤN NGAY
                                        </a>
                                    </div>
                                </div>
                                <div class="c-headings-block__sub wpb_animate_when_almost_visible ro_4 h5 not-bold">
                                    <div class="o-row identified-brand">
                                        <div class="c-empty-space c-empty-space--lg"></div>
                                        <div class="identified-logo" style="display:flex">
                                            <div class="animation-holder identity">
                                                <div class="service-icon__holder">
                                                    <div class="service-icon-detail">
                                                        <div class="animated-icon" data-icon="ux_ui_design" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="c-entry__content-name">
                                                    <div class="font-size16to13">Sản xuất TVC</div>
                                                </div>
                                            </div>
                                            <div id="design-services-box" class="services s-cms-content fadeInUp">
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="cloud_devops" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="support" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="strategic_consulting" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="mobile_development" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                                <div class="animation-holder">
                                                    <div class="service-icon__holder">
                                                        <div class="animated-icon" data-icon="web_development" data-autoplay="true"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--lg  o-hidden-sm identified-brand-border-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section o-lg-col-6 o-md-col-6 section-col-image section-col-image-logo-brand" style="z-index:1">
                            <div class="single-image">
                                <div class="animated-img brand-image">
                                    <img src="~/images/brand/dich-vu-tvc.png" class="img-brand" />
                                    <img src="~/images/brand/shadow.png" class="img-shadow" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="o-section o-row o-row--width-full s-color-scheme">
                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="animated-section o-sm-col-12 o-lg-col-offset-1 o-lg-col-10 o-sm-col-offset-0 ">
                            <div class="c-empty-space c-empty-space--lg o-hidden-md"></div>
                        </div>
                    </div>
                </div>
                <div class="o-row c-portfolio-block o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="o-sm-col-12" style="padding: 0 !important">
                            <div class="c-mm-vc-posts">
                                <div class="o-row c-portfolio-block">
                                    <div class="animated-section">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class="design-logo wpb_animate_when_almost_visible ro_1">
                                                    <img src="~/images/brand/background-design-brand.png" style="min-height: 950px;" />
                                                    <div class="design-logo-black"></div>
                                                    <div class="design-logo-detail">
                                                        <div class="wpb_animate_when_almost_visible ro_2">
                                                            <div><span class="design-logo-detail-01 font-size32to16">Sản xuất TVC doanh nghiệp</span></div>
                                                            <div>
                                                                <span class="underlined mt-20" style="margin:auto; width: 135px !important; border-bottom: solid #E9A541; "></span>
                                                            </div>
                                                        </div>
                                                        <div class="wpb_animate_when_almost_visible ro_3">
                                                            <span class="design-logo-detail-02 font-size16to13">
                                                                Bên cạnh nhiệm vụ quảng bá sản phẩm, phim giới thiệu doanh nghiệp cũng là một công cụ nâng tầm hình ảnh thương hiệu nhanh chóng. Thông qua phim doanh nghiệp, các công ty có thể tạo ra một hồ sơ sinh động về những thành tựu đã đạt được thay thế cho những hình ảnh Profile truyền thống quen thuộc.
                                                            </span>
                                                        </div>
                                                        <div class="wpb_animate_when_almost_visible ro_4">
                                                            <a class="design-logo-contact-now font-size25to13 zalo-link">Liên hệ tư vấn</a>
                                                        </div>
                                                        <div class="design-logo-product wpb_animate_when_almost_visible ro_4" style="height:100px; display:flex; justify-content: space-around">
                                                            <div class="logo-product">
                                                                <div class="logo-product-count font-size30to13" data-val="1000">000<span>+</span></div>
                                                                <div class="logo-product-text font-size16to13 mt-10">Dự án hoàn thành</div>
                                                            </div>
                                                            <div class="logo-product">
                                                                <div class="logo-product-count font-size30to13" data-val="500">000<span>+</span></div>
                                                                <div class="logo-product-text font-size16to13 mt-10">Đối tác</div>
                                                            </div>
                                                            <div class="logo-product">
                                                                <div class="logo-product-count font-size30to13" data-val="30">00<span>+</span></div>
                                                                <div class="logo-product-text font-size16to13 mt-10">Ngành hàng</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--md o-hidden-xs"></div>
                                    </div>
                                    <div class="animated-section">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class=" role-of-logo wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-role-of-logo brand-title">
                                                        TƯ DUY PHIM DOANH NGHIỆP THỜI ĐẠI MỚI
                                                    </div>
                                                    <div class="content-role-of-logo mt-30">
                                                        <span class="wpb_animate_when_almost_visible font-size16to13 ro_2">
                                                            Phim doanh nghiệp hay còn gọi là Corporate Video, Brand Video. Chỉ với 3-5 phút, Phim giới thiệu doanh nghiệp có thể trình bày một cách sinh động và trực quan về sản phẩm, dịch vụ, lịch sử, quy mô, triết lý kinh doanh, văn hóa doanh nghiệp, các thành tựu đạt được…, thể hiện định hướng, tầm nhìn và giá trị thương hiệu muốn truyền tải. 
                                                            <br />
                                                            Vận dụng kịch bản sáng tạo và tư duy đổi mới trong các góc quay, TVC doanh nghiệp không còn khô khan mà trở thành một profile động, kể câu chuyện giàu cảm xúc về thương hiệu.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--md o-hidden-sm"></div>
                                    </div>
                                    <div class="animated-section section-reason-of-logo">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal" style="position: relative">
                                                <div class="title-reason-of-logo brand-title wpb_animate_when_almost_visible ro_1">
                                                    LỢI ÍCH SẢN XUẤT PHIM DOANH NGHIỆP
                                                </div>
                                                <div class="tvc-advantage mt-100 wpb_animate_when_almost_visible ro_2">
                                                    <div class="block-tvc-advantage wpb_animate_when_almost_visible ro_3" style="position:relative">
                                                        <img src="~/images/brand/advance-img.png" style="height: 110%;" />
                                                        <div class="Backgroung-tvc-black"></div>
                                                        <div class="advance-block-one-text wpb_animate_when_almost_visible font-size16to13 ro_4">Thương hiệu sở hữu phim doanh nghiệp có rất nhiều lợi ích. Không chỉ dừng lại ở việc quảng bá hình ảnh, mà TVC còn chính là dấu ấn tạo sự tin tưởng đối với khách hàng. Một phim doanh nghiệp chạm được cảm xúc của người xem sẽ có sức lan toả cao.</div>
                                                    </div>
                                                    <div class="block-tvc-advantage wpb_animate_when_almost_visible ro_3">
                                                        <div class="block-tvc-advantage-detail wpb_animate_when_almost_visible ro_4">
                                                            <div class="block-tvc-advantage-logo">
                                                                <img src="~/images/brand/advantage01.png" />
                                                            </div>
                                                            <div class="block-tvc-advantage-detail-text font-size16to13">Thay thế báo cáo bằng văn bản trong các lễ tổng kết, lễ kỉ niệm,… những hoạt động không thể thiếu trong những sự kiện khách hàng, hội chợ trong nước và quốc tế…</div>
                                                        </div>
                                                        <div class="background-color-orangered block-tvc-advantage-detail wpb_animate_when_almost_visible ro_5">
                                                            <div class="block-tvc-advantage-logo">
                                                                <img src="~/images/brand/advantage03.png" />
                                                            </div>
                                                            <div class="block-tvc-advantage-detail-text font-size16to13 text-color-white">Cái nhìn tổng thể cho đối tác ở xa, nước ngoài,... không có thể hình dung rõ nét nhất về quy mô doanh nghiệp.</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-tvc-advantage wpb_animate_when_almost_visible ro_3">
                                                        <div class="background-color-orangered block-tvc-advantage-detail wpb_animate_when_almost_visible ro_4">
                                                            <div class="block-tvc-advantage-logo">
                                                                <img src="~/images/brand/advantage02.png" />
                                                            </div>
                                                            <div class="block-tvc-advantage-detail-text font-size16to13 text-color-white">Phương tiện truyền thông. Thay thế Brochure, tờ rơi, Sale kit giúp nhân viên bán hàng trình diễn với khách hàng thông qua smartphone, hoặc laptop…</div>
                                                        </div>
                                                        <div class="block-tvc-advantage-detail wpb_animate_when_almost_visible ro_5">
                                                            <div class="block-tvc-advantage-logo">
                                                                <img src="~/images/brand/advantage04.png" />
                                                            </div>
                                                            <div class="block-tvc-advantage-detail-text font-size16to13">
                                                                Content tạo niềm tin và có khả năng lan toả. Sử dụng trên Facebook, Youtube, Email marketing.
                                                                <br />
                                                                Sử dụng trong các màn hình tại cửa hàng, sảnh toàn nhà, văn phòng làm việc, thu hút và tiếp cận  người xem.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-empty-space c-empty-space--md o-hidden-sm"></div>
                                            <div class="c-empty-space c-empty-space--lg"></div>
                                        </div>
                                    </div>
                                    <div class="animated-section section-reason-of-logo">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal" style="position: relative">
                                                <div class="tvc-beginning mt-100 wpb_animate_when_almost_visible ro_1">
                                                    <div class="block-tvc-beginning-img-start wpb_animate_when_almost_visible ro_2">
                                                        <img src="~/images/brand/tvc-beginning-start01.png" class="wpb_animate_when_almost_visible ro_1" />
                                                        <img src="~/images/brand/tvc-beginning-start02.png" class="wpb_animate_when_almost_visible ro_3" />
                                                        <img src="~/images/brand/tvc-beginning-start03.png" class="wpb_animate_when_almost_visible ro_5" />
                                                    </div>
                                                    <div class="block-tvc-beginning block-tvc-beginning-2 wpb_animate_when_almost_visible ro_3">
                                                        <div class="beginning-text brand-title wpb_animate_when_almost_visible ro_4">
                                                            BẮT ĐẦU DỰ ÁN CỦA BẠN CÙNG CHUYÊN GIA TRUYỀN THÔNG
                                                        </div>
                                                        <div class="beginning-text-detail wpb_animate_when_almost_visible font-size20to13 ro_5">
                                                            Hơn <span class="font-weight700">1000</span> doanh nghiệp đã và đang đồng hành cùng <span class="font-weight700">Think & Action</span> xây dựng dự án truyền thông.
                                                        </div>
                                                        <div class="c-headings-block__learn-more mt-30 c-headings-block__learn-more-button wpb_animate_when_almost_visible ro_5">
                                                            <a class="zalo-link" style="background: white !important; color:#F5AA1C !important;">
                                                                <div class="glass-layout"></div>
                                                                TƯ VẤN NGAY
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="block-tvc-beginning wpb_animate_when_almost_visible ro_5">
                                                        <img src="~/images/brand/tvc-beginning-end.png" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-empty-space c-empty-space--md o-hidden-sm"></div>
                                            <div class="c-empty-space c-empty-space--lg"></div>
                                        </div>
                                    </div>
                                    <div class="animated-section">
                                        <div class="animation-holder">
                                            <div class="o-row o-row--width-normal s-color-scheme wpb_animate_when_almost_visible ro_1">
                                                <div class="o-container o-container--width-normal o-container--width-same">
                                                    <div class="o-sm-col-12 o-lg-col-offset-1 o-lg-col-10 o-sm-col-offset-0 o-xs-col-12">
                                                        <div class="c-vc-column-text u-text-center">
                                                            <h3 class="h3 homepage-partner-text brand-title text_block_heading fadeInUp">Các đơn vị hợp tác tiêu biểu</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="o-row o-row--width-normal s-color-scheme wpb_animate_when_almost_visible ro_2">
                                                <div class="o-container o-container--width-normal o-container--width-same o-container--no-padding" style="justify-content: center;">
                                                    <div class="o-lg-col-12">
                                                        <div class="o-row o-container o-container--no-padding">
                                                            <div class="o-lg-col-12">
                                                                <div class="c-empty-space c-empty-space--lg"></div>
                                                                <div class="c-mm-vc-content-block">
                                                                    <div class="o-vc-layout">
                                                                        <section class="o-section o-row partner-logos o-row--width-full s-color-scheme">
                                                                            <div class="o-row o-row--width-normal s-color-scheme">
                                                                                <div id="partners-box" class="o-container o-container--width-normal o-container--width-same o-container--no-padding">
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="o-row o-container">
                                                            <div class="o-sm-col-12">
                                                                <div class="c-empty-space c-empty-space--md"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--lg "></div>
                                    </div>
                                    <div class="animated-section section-commitment">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections commit-tvc">
                                                <div class=" commitment wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-commitment brand-title wpb_animate_when_almost_visible ro_2">CAM KẾT DỊCH VỤ SẢN PHẨM</div>
                                                    <div class="content-commitment wpb_animate_when_almost_visible ro_3 mt-60">
                                                        <div class="detail-commitment wpb_animate_when_almost_visible ro_1">
                                                            <img src="~/images/brand/commitment01.png" />
                                                            <div class="content-detail-commitment font-size16to13 mt-10">100% sản phẩm độc quyền không sao chép</div>
                                                        </div>
                                                        <div class="detail-commitment wpb_animate_when_almost_visible ro_2">
                                                            <img src="~/images/brand/commitment02.png" />
                                                            <div class="content-detail-commitment font-size16to13 mt-10">Miễn phí tư vấn 100%</div>
                                                        </div>
                                                        <div class="detail-commitment wpb_animate_when_almost_visible ro_3">
                                                            <img src="~/images/brand/commitment03.png" />
                                                            <div class="content-detail-commitment font-size16to13 mt-10">Đảm bảo tiến độ như cam kết</div>
                                                        </div>
                                                        <div class="detail-commitment wpb_animate_when_almost_visible ro_4">
                                                            <img src="~/images/brand/commitment04.png" />
                                                            <div class="content-detail-commitment font-size16to13 mt-10"> Hỗ trợ xử lý sau khi hoàn thành dự án</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="c-empty-space c-empty-space--md o-hidden-xs"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated-section">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections">
                                                <div class="title-role-of-logo brand-title wpb_animate_when_almost_visible ro_2">
                                                    QUY TRÌNH SẢN XUẤT TVC TẠI THINK & ACTION
                                                </div>
                                                <div class=" role-of-logo video-tvc wpb_animate_when_almost_visible ro_1">
                                                    <iframe class="tvc-video wpb_animate_when_almost_visible ro_3" src="https://www.youtube.com/embed/2RCQHrhcJW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated-section">
                                        <div class="animation-holder">
                                            <main class="c-main homepage-project">
                                                <div class="o-vc-layout">
                                                    <section id="agile-development" class="o-section o-row o-row--width-full s-color-scheme">
                                                        <div class="o-row o-row--width-normal s-color-scheme">
                                                            <div class="o-container o-container--width-normal o-container--width-same o-container--no-padding">
                                                                <div class="animated-section o-sm-col-12 o-lg-col-12 o-xs-col-12">
                                                                    <div class="c-empty-space c-empty-space--sm"></div>
                                                                    <div class="c-vc-column-text u-text-center wpb_animate_when_almost_visible ro_1">
                                                                        <div class="h4 text_block_heading brand-title ro_1 wpb_animate_when_almost_visible fadeInUp wpb_animate_when_almost_visible_now">
                                                                            DỰ ÁN NỔI BẬT
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-empty-space c-empty-space--sm"></div>
                                                                    <div id="Design" class="c-mm-vc-posts wpb_animate_when_almost_visible ro_2">
                                                                        @*CÁi này mang đi hỏi*@
                                                                        <div class="o-container o-container--width-normal o-container--width-same o-container--no-padding">
                                                                            <div id="projects" class="c-archive c-archive__services js-inf-scroll-container c-archive--centered">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-vc-column-text u-text-center">
                                                                        <div class="wpb_animate_when_almost_visible ro_4 mt-20 font-size20to13" style="color: #000000; padding: 0 5%;">
                                                                            Bạn muốn tham khảo thêm thiết kế trong lĩnh vực thiết kế của bạn?
                                                                        </div>
                                                                        <div class="c-headings-block__learn-more mt-20 c-headings-block__learn-more-button wpb_animate_when_almost_visible ro_4 mt-10">
                                                                            <a class="zalo-link font-size25to16" style="justify-content: center; width: 250px;">
                                                                                <div class="glass-layout"></div>
                                                                                XEM THÊM
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <div class="c-empty-space c-empty-space--md"></div>
                                                    <div class="c-empty-space c-empty-space--md"></div>
                                                </div>
                                            </main>
                                        </div>
                                    </div>
                                    <div class="animated-section section-question">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class="question wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-question brand-title">CÂU HỎI THƯỜNG GẶP</div>
                                                    <div class="content-question font-size16to13 mt-30">
                                                        <div class="block-question wpb_animate_when_almost_visible ro_2">
                                                            <div class="detail-question">
                                                                <span style="padding-right: 5rem;">
                                                                    1/ Phim doanh nghiệp là gì?
                                                                </span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Phim doanh nghiệp còn được cho là một bản tóm tắt toàn bộ năng lực của doanh nghiệp, truyền tải dưới dạng hình ảnh động, được quay phim, ghi hình ở mọi góc độ, kèm theo đó là âm thanh, hình ảnh, lời bình và các chi tiết khác như kỹ xảo, đồ họa... phù hợp nhằm thu hút người xem.
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_2">
                                                            <div class="detail-question">
                                                                <span>
                                                                    2/ Thời lượng một chiếc TVC thông thường là bao lâu?
                                                                </span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Thời lượng của một chiếc TVC thường kéo dài 5 - 10 phút
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_2">
                                                            <div class="detail-question">
                                                                <span>
                                                                    3/ Cần chuẩn bị gì trước khi đăng ký gói dịch vụ Sản xuất TVC  Doanh nghiệp không?
                                                                </span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Trước khi đăng ký gói Sản xuất TVC, doanh nghiệp cần cân nhắc các câu hỏi:
                                                                <br />
                                                                - Mục tiêu kinh doanh tổng thể của doanh nghiệp là gì ?
                                                                <br />
                                                                - Doanh nghiệp muốn làm nổi bật điều gì, truyền tải thông điệp gì trong sản phẩm TVC ?
                                                                <br />
                                                                - Đối tượng mục tiêu mà doanh nghiệp muốn hướng tới ?
                                                                <br />
                                                                - Doanh nghiệp muốn TVC của mình được sử dụng trong sự kiện gì ?
                                                                <br />
                                                                - Giá trị và sứ mệnh thương hiệu là gì ?
                                                                <br />
                                                                - Ý tưởng đề xuất cho TVC doanh nghiệp?
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_3">
                                                            <div class="detail-question">
                                                                <span>
                                                                    4/ Thời gian Sản xuất TVC Doanh nghiệp là bao lâu?
                                                                </span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Thời gian để doanh nghiệp có thể sở hữu sản phẩm Phim doanh nghiệp hoàn thiện dự kiến kéo dài trong khoảng 2 - 3 tuần
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_3">
                                                            <div class="detail-question">
                                                                <span>
                                                                    5/ Tiêu chí một chiếc Phim Doanh nghiệp tốt
                                                                </span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Một số tiêu chí tham khảo đánh giá một sản phẩm TVC hiệu quả:
                                                                <br />
                                                                - Chất lượng âm thanh, hình ảnh
                                                                <br />
                                                                - Thời lượng phim doanh nghiệp
                                                                <br />
                                                                - Kịch bản kết hợp bố cục nội dung hợp lý, chuyên nghiệp
                                                                <br />
                                                                - Ý tưởng sáng tạo, hấp dẫn, phù hợp xu hướng thị hiếu khách hàng tiềm năng
                                                                <br />
                                                                - Truyền tải đầy đủ thông điệp hướng đến đối tượng mong muốn
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_4">
                                                            <div class="detail-question">
                                                                <span>
                                                                    6/ Doanh nghiệp đã có TVC Doanh nghiệp nhưng có nhu cầu chỉnh sửa được không?
                                                                </span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Hoàn toàn có thể, Think & Action chấp nhận các yêu cầu điều chỉnh sản phẩm sẵn có từ phía khách hàng
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_4">
                                                            <div class="detail-question">
                                                                <span>
                                                                    7/ Tôi muốn tham khảo thêm các mẫu Phim Doanh nghiệp
                                                                </span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Doanh nghiệp có thể truy cập trang https://thinkaction.vn/du-an để tham khảo thêm các mẫu TVC doanh nghiệp nổi bật từ Think & Action Agency, hoặc liên hệ hotline để tham khảo các sản phẩm TVC theo lĩnh vực kinh doanh
                                                            </div>
                                                        </div>
                                                        <div class="block-question wpb_animate_when_almost_visible ro_5">
                                                            <div class="detail-question">
                                                                <span>
                                                                    8/ Báo giá dịch vụ Sản xuất TVC
                                                                </span>
                                                                <span class="icon-UpDown icon-Up"></span><span class="icon-UpDown icon-Down"></span>
                                                            </div>
                                                            <div class="detail-answer">
                                                                Chi phí sản xuất TVC doanh nghiệp tùy thuộc vào gói sản phẩm do khách hàng lựa chọn. Liên hệ Think & Action để được tư vấn thêm về các gói Sản xuất TVC.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="c-headings-block__learn-more c-headings-block__learn-more-button wpb_animate_when_almost_visible ro_5 mt-60" style="display: flex; justify-content: center;">
                                                        <a class="zalo-link font-size25to16" style="justify-content: center; width: 250px;">
                                                            <div class="glass-layout"></div>
                                                            TƯ VẤN
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--sm"></div>
                                    </div>
                                    <div class="animated-section section-news">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class="news wpb_animate_when_almost_visible ro_1">
                                                    <div class="title-news brand-title wpb_animate_when_almost_visible ro_2">BÀI VIẾT LIÊN QUAN</div>
                                                    <div class="content-question mt-30 wpb_animate_when_almost_visible ro_3">
                                                        <div id="news-Content">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-empty-space c-empty-space--lg "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
<script src="~/js/video.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-migrate.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-migrate.js"></script>
<script src="~/js/pagination.js"></script>
<script src="~/js/grt-youtube-popup.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#nav-services').addClass("active");
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
            "url": "https://cms.thinkaction.vn/all-options",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            var data = response.data;
            //$('#HOMEPAGE_INTRODUCE_PC').text(data.find(x => x.Code === 'HOMEPAGE_INTRODUCE').ValuePC);
            //$('#HOMEPAGE_INTRODUCE_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_INTRODUCE').ValueMobile);

            $('#HOMEPAGE_DESIGN_PC').text(data.find(x => x.Code === 'HOMEPAGE_DESIGN').ValuePC);
            $('#HOMEPAGE_DESIGN_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_DESIGN').ValueMobile);

            $('#HOMEPAGE_TVC_PC').text(data.find(x => x.Code === 'HOMEPAGE_TVC').ValuePC);
            $('#HOMEPAGE_TVC_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_TVC').ValueMobile);

            $('#HOMEPAGE_DIGITAL_MARKERTING_PC').text(data.find(x => x.Code === 'HOMEPAGE_DIGITAL_MARKERTING').ValuePC);
            $('#HOMEPAGE_DIGITAL_MARKERTING_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_DIGITAL_MARKERTING').ValueMobile);

            $('#HOMEPAGE_WEB_MOBILE_APP_PC').text(data.find(x => x.Code === 'HOMEPAGE_WEB_MOBILE_APP').ValuePC);
            $('#HOMEPAGE_WEB_MOBILE_APP_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_WEB_MOBILE_APP').ValueMobile);

            $('#HOMEPAGE_EVENTS_PC').text(data.find(x => x.Code === 'HOMEPAGE_EVENTS').ValuePC);
            $('#HOMEPAGE_EVENTS_MOBILE').text(data.find(x => x.Code === 'HOMEPAGE_EVENTS').ValueMobile);

            $(".zalo-link").attr("href", data.find(x => x.Code === 'CONTACT_ZALO_LINK').ValuePC);
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
            "url": "https://cms.thinkaction.vn/homepage-doi-tac",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            var data = response.data;
            $.each(data, function (key, value) {
                var imageLink = "https://cms.thinkaction.vn/" + value.Logo;
                //debugger;
                var html = '<div onclick="window.open(\'' + value.Link + '\',\'_blank\');" style="cursor: pointer;" class="o-lg-col-3 o-xs-col-6">' +
                    '<div class="wpb_single_image wpb_content_element vc_align_center">' +
                    '<figure class="wpb_wrapper vc_figure">' +
                    '<div class="vc_single_image-wrapper   ">' +
                    '<img src="' + imageLink + '" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="">' +
                    '<noscript>' +
                    '<img src="' + imageLink + '" class="vc_single_image-img attachment-full" alt="">' +
                    '</noscript>' +
                    '</div>' +
                    '</figure>' +
                    '</div>' +
                    '</div>';
                $('#partners-box').append(html);
            });
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        function Counting(isRun) {
            if (isRun) {
                let valueDisplays = document.querySelectorAll(".logo-product-count");
                let interval = 5000;

                valueDisplays.forEach((valueDisplay) => {
                    let startValue = 0;
                    let endValue = parseInt($(valueDisplay).attr("data-val"));
                    let uraTime = Math.floor(interval / endValue);
                    let count = setInterval(function () {
                        startValue += 2;
                        valueDisplay.textContent = startValue + "+";
                        if (startValue == endValue) {
                            clearInterval(count);
                        }
                    }, uraTime);
                });
            }
        }
        var IsRun = true;
        $(window).scroll(function (event) {
            var pos_body = $('html,body').scrollTop();
            if (pos_body >= 800 && pos_body <= 1600) {
                Counting(IsRun);
                IsRun = false;
            }
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
            "url": "https://cms.thinkaction.vn/homepage-project",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            var data = response.data;
            $.each(data, function (key, value) {
                if (value.ProductCategoryId === 2 && (value.ProductId == 27381075 || value.ProductId == 27380998 || value.ProductId == 27380989 || value.ProductId == 27380984 || value.ProductId == 27380974 || value.ProductId == 27380971 || value.ProductId == 27380931 || value.ProductId == 27380932 || value.ProductId == 27380933)) {
                    var link = "https://thinkaction.vn/chi-tiet-du-an?slug=" + value.Slug + "&id=" + value.ProductId;
                    var imageLink = "https://cms.thinkaction.vn/" + value.Thumbnail;
                    var classId = "item-" + value.ProductCategoryId;
                    var youtubeId = value.Description;
                    var html = '<div id=' + value.ProductId + ' youtubeid="' + youtubeId + '" data-embed="' + youtubeId + '" style="cursor: pointer;"  class="youtube c-archive__col c-archive__col--rounded o-xs-col-12 o-sm-col-6 o-md-col-6 o-lg-col-4 js-inf-scroll-item youtube-link ' + classId + '">' +
                        '<article class="c-entry  c-entry--tile c-entry--type-tile c-entry--status-publish c-entry--has-post-thumbnail c-entry--hentry u-text-left u-bgnd-base has-no-permalink has-header-image has-light-header-text s-color-scheme has-dark-header-bgnd"' +
                        'itemscope="itemscope" itemtype="https://schema.org/CreativeWork">' +
                        '<div class="c-entry-header">' +
                        '<div style="" class="c-entry-header__image">' +
                        '<img src="' + imageLink + '" alt="" class="o-lazy-load o-lazy-load--img landscape cw-lesser featured full c-entry-header__img o-lazy-load--complete">' +
                        '<noscript>' +
                        '<img src="' + imageLink + '"' +
                        'class="landscape cw-lesser featured full c-entry-header__img">' +
                        '</noscript>' +
                        '</div>' +
                        '<div class="c-tag c-entry-header__label u-z1">' +
                        '</div>' +
                        '</div>' +
                        '<div class="c-entry__content">' +
                        '<div class="c-entry__summary entry-summary s-cms-content"' +
                        'itemprop="description">' +
                        '<a href="' + link + '" target="_blank" class="o-link-color-on-hover"' +
                        'rel="noopener noreferrer">' + value.Name + '</a>' +
                        '</div>' +
                        '</div>' +
                        '<div class="c-entry__anchor" id=""></div>' +
                        '</article>' +
                        '</div>';
                    $('#projects').append(html);
                }
            });
            $(".youtube-link").grtyoutube();
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.detail-answer').slideUp();
            $('.detail-question').click(function (e) {
                // Onyly
                //$('.detail-answer').slideUp();
                $(this).next().slideToggle();
                $(this).toggleClass('textColorOrange');
                $(this).toggleClass('bbColorOrange');
                $(this).find('.icon-Down').toggleClass('rotate');
            });
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
            "url": "https://cms.thinkaction.vn/homepage-tin-tuc?pageIndex=1",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            var data = response.data.slice(1);
            data.sort();
            data.reverse();
            var rawhtml = '';
            $.each(data, function (key, value) {
                console.log(value);
                if ((value.ArticleId == 261 || value.ArticleId == 258 || value.ArticleId == 257)) {
                    var link = "https://thinkaction.vn/chi-tiet-tin-tuc?slug=" + value.Slug + "&id=" + value.ArticleId;
                    var imageLink = "https://cms.thinkaction.vn/" + value.Thumbnail;
                    var html = '<div onclick="window.open(\'' + link + '\',\'_blank\');" style="cursor: pointer;" class="block-new">' +
                        ' <img src="' + imageLink + '" />' +
                        '<div class="title-new font-size16to13 mt-30">' + value.Title + '</div>' +
                        '<div class="content-new font-size16to13 mt-20">' + value.SummaryContent + '</div>' +
                        '</div >';
                    rawhtml += html;

                }
            });
            $('#news-Content').html(rawhtml);

        });
    });
</script>

