@font-face {
    font-family: 'ViettelPay-Regular';
    src: url(../fonts/ViettelPay-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'ViettelPay-ExtraBold';
    src: url(../fonts/ViettelPay-ExtraBold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'ViettelPay-Medium';
    src: url(../fonts/ViettelPay-Medium.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'ViettelPay-Light';
    src: url(../fonts/ViettelPay-Light.ttf) format('truetype');
    font-display: swap;
}

div#hs-eu-cookie-confirmation {
    background: #000 !important;
}

    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
        background: #000 !important;
    }

        div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
            color: #fff !important;
        }

div#hs-eu-cookie-confirmation {
    color: #fff !important;
}

    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
        max-width: 91% !important;
    }

        div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-cookie-settings-button {
            color: #fff !important;
            text-decoration: underline !important;
        }

        div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a,
        div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a:hover {
            color: #fff !important;
            text-decoration: underline !important;
        }

body #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container .hs-category-description h3 {
    font-family: "ViettelPay-Regular" !important;
    font-size: 14px !important;
    color: #fff !important;
}

body #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container .hs-category-description p {
    font-family: "ViettelPay-Regular" !important;
    color: #fff !important;
}

body #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-save-settings {
    background: none !important;
    border-color: #fff !important;
}

@media (max-width: 800px) {
    body #hs-modal #hs-modal-content {
        height: auto !important;
    }

        body #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container {
            overflow: hidden !important;
            overflow-y: scroll !important;
        }

    #hs-modal #hs-modal-content #hs-modal-header {
        top: 0;
    }
}


.c-tile__content.c-event-date {
    display: none;
}

.case-study-tile-invert .c-badge-block--has-background .c-badge-block__el {
    background-color: #f5f9fa !important;
    border: 1px solid #f5f9fa !important;
}

/**
         // ### FOSS tile
         */
.c-mosaic__item--featured .c-entry--24609 .c-tile__main-heading {
    color: #fff;
}

.c-mosaic__item--featured .c-entry--24609 .c-tile__excerpt {
    max-width: 47rem;
}

/**
         // ### Pops tile
         */
.c-mosaic__item--featured .c-entry--24281 .c-entry-header {
    overflow: hidden;
}

@media screen and (min-width: 1200px) {
    .c-mosaic__item--featured .c-entry--24281 .c-entry-header__image {
        transform: translate(-5%, -7.5%);
    }
}

@media screen and (min-width: 1440px) {
    .c-mosaic__item--featured .c-entry--24281 .c-entry-header__image {
        transform: translate(-3%, 0);
    }
}

@media screen and (max-width: 899px) {
    .c-mosaic__item--featured .c-entry--24281 .c-entry-header__img {
        object-position: 38% 50%;
    }

    .c-mosaic__item--featured .c-entry--24281 .c-entry-header__bgnd-img {
        background-position: 38% 50%;
    }
}

@media screen and (max-width: 599px) {
    .c-mosaic__item--featured .c-entry--24281 .c-entry-header__img {
        object-position: 30% 50%;
    }

    .c-mosaic__item--featured .c-entry--24281 .c-entry-header__bgnd-img {
        background-position: 30% 50%;
    }
}

/**
         // ### WeVest tile
         */
@media screen and (max-width: 1279px) {
    .c-mosaic__item--featured .c-entry--24354 .c-tile__excerpt {
        max-width: 48rem;
    }
}

@media screen and (max-width: 1199px) {
    .c-mosaic__item--featured .c-entry--24354 .c-tile__excerpt {
        max-width: 33rem;
    }
}

@media screen and (max-width: 899px) {
    .c-mosaic__item--featured .c-entry--24354 .c-entry-header__img {
        object-position: 35% 50%;
    }

    .c-mosaic__item--featured .c-entry--24354 .c-entry-header__bgnd-img {
        background-position: 35% 50%;
    }
}

@media screen and (max-width: 479px) {
    .c-mosaic__item--featured .c-entry--24354 .c-entry-header__img {
        object-position: 35% 7.5rem;
    }

    .c-mosaic__item--featured .c-entry--24354 .c-entry-header__bgnd-img {
        background-position: 35% 7.5rem;
    }
}

/**
         // ### Blackriver tile
         */
.c-mosaic__item--featured .c-entry--22069 .c-tile__excerpt {
    /* text-shadow: 0 0 6px rgba(0,0,0,0.8), 0 0 12px rgba(0,0,0,0.5); */
}

@media screen and (max-width: 899px) {
    .c-mosaic__item--featured .c-entry--22069 .c-entry-header__img {
        object-position: 40% 50%;
    }

    .c-mosaic__item--featured .c-entry--22069 .c-entry-header__bgnd-img {
        background-position: 40% 50%;
    }
}

@media screen and (max-width: 599px) {
    .c-mosaic__item--featured .c-entry--22069 .c-entry-header__img {
        object-position: 30% 50%;
    }

    .c-mosaic__item--featured .c-entry--22069 .c-entry-header__bgnd-img {
        background-position: 30% 50%;
    }
}

/**
         // ### Adventium Labs tile
         */
.c-mosaic__item--featured .c-entry--24243 .c-entry-header__img {
    object-position: 65% 50%;
}

.c-mosaic__item--featured .c-entry--24243 .c-entry-header__bgnd-img {
    background-position: 65% 50%;
}

@media screen and (min-width: 1200px) {
    .c-mosaic__item--featured .c-entry--24243 .c-entry-header__img {
        object-position: 100% 50%;
    }

    .c-mosaic__item--featured .c-entry--24243 .c-entry-header__bgnd-img {
        background-position: 100% 50%;
    }
}

/**
         // ### POPS tile
         */
.c-mosaic__item--full-width .c-entry--27957 .c-entry-header__img {
    object-position: 65% 0%;
}

.c-mosaic__item--full-width .c-entry--27957 .c-entry-header__bgnd-img {
    background-position: 65% 0%;
}

/**
         // ### WeVest tile
         */
.c-mosaic__item--full-width .c-entry--27966 .c-entry-header__img {
    object-position: 100% 50%;
}

.c-mosaic__item--full-width .c-entry--27966 .c-entry-header__bgnd-img {
    background-position: 100% 50%;
}

/**
         // ### Blackriver tile
         */
.c-mosaic__item--full-width .c-entry--25831 .c-entry-header__img {
    object-position: 40% 50%;
}

.c-mosaic__item--full-width .c-entry--25831 .c-entry-header__bgnd-img {
    background-position: 40% 50%;
}

/**
         // ## Mosaics overrides
         */
/** WeVest tile */
.c-entry--22135.c-entry--tile .c-entry__header_img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.c-mosaic--21948 .c-mosaic__item:not(:first-child) .c-entry--22216 .c-tile__event-day,
.c-mosaic--21948 .c-mosaic__item:not(:first-child) .c-entry--22216 .c-tile__event-month,
.c-mosaic--21948 .c-mosaic__item:not(:first-child) .c-entry--22216 .c-tile__heading {
    color: #3F9BE7;
}

/**
         // AWS Technologies block
         */
.o-row--aws-technologies {
    position: relative;
}

    .o-row--aws-technologies .mm-vc-posts {
        padding-left: 37.5%;
    }

    .o-row--aws-technologies .c-badge-block {
        margin-top: 0;
    }

    .o-row--aws-technologies .c-badge-block__el {
        width: 20%;
    }

.c-aws-partner-logo {
    padding: 5rem 3rem;
}

    .c-aws-partner-logo img {
        display: block;
        margin: 0 auto;
        width: 251px;
    }

@media screen and (min-width: 900px) {
    .c-aws-partner-logo {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 37.5%;
    }
}

/**
         // Quick fix add sections borders
         */
.has-border {
    border-top: 2px solid #eff3f4 !important;
}

/**
         * Temp fix: Project page tiles
         */
.c-project__col {
    display: flex;
    justify-content: center;
}

.c-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-project__btn {
    margin-bottom: 0;
}

.o-row--bg-gray::after {
    height: 27%;
}

.wpb_animate_when_almost_visible {
    opacity: 1;
}

.partner-logos .o-container {
    justify-content: center;
}

.max-width-100 {
    max-width: 100% !important;
}

.bg-c-212121 {
    background-color: #212121 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-10 {
    margin-top: 1rem !important;
}

.mt-20 {
    margin-top: 2rem !important;
}

.mt-30 {
    margin-top: 3rem !important;
}

.mt-40 {
    margin-top: 4rem !important;
}

.mt-60 {
    margin-top: 6rem !important;
}

.mt-80 {
    margin-top: 8rem !important;
}

.mt-100 {
    margin-top: 10rem !important;
}

@media (max-width: 767px) {
    .mt-40 {
        margin-top: 2rem !important;
    }
}

.font-extra-bold {
    font-family: ViettelPay-ExtraBold !important;
}

.pd-left-10 {
    padding-left: 10rem !important;
}

.background-about-us {
    position: absolute;
    top: -10rem;
    right: -2rem;
    max-width: 1300px;
    width: calc(70% + 150px);
}

.background-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(90% + 130px);
}

.background-design {
    position: absolute;
    top: -9.5rem;
    right: -2rem;
    width: calc(80% + 130px);
}

.background-project {
    position: absolute;
    top: -8.5rem;
    right: -2rem;
    width: calc(80% + 160px);
}

.background-design-mobile {
    position: absolute;
    top: -7rem;
    right: -11rem;
    width: calc(85%);
}

.background-about-us-vision {
    position: absolute;
    /*top: 90rem;*/
    left: 0;
    width: 100%;
}

.background-about-us-why {
    position: absolute;
    left: -200px;
    top: -350px;
}

.homepage-line-right {
    position: absolute;
    margin-top: 25rem;
    right: 0;
}

.homepage-line-left {
    position: absolute;
    margin-top: 65rem;
    left: 0;
}

.homepage-4dot-right {
    position: absolute;
    margin-top: 45rem;
    right: 10rem;
}

.homepage-4dot-left {
    position: absolute;
    margin-top: 45rem;
    left: 10rem;
}

.design-round-left {
    position: absolute;
    margin-top: 10%;
    left: -15%;
    width: 30%;
}

.tvc-round-right {
    position: absolute;
    margin-top: 1%;
    right: -15%;
    height: 11%;
}

.marketing-round-left {
    position: absolute;
    left: -15%;
    width: 35%;
}

.mobile-round-right {
    position: absolute;
    margin-top: 5%;
    right: -12%;
    width: 27%;
}

.event-round-left {
    position: absolute;
    margin-top: 15%;
    left: -15%;
    width: 35%;
}

.partner-round-right {
    position: absolute;
    margin-top: 25rem;
    right: -10%;
    /*height: 15%;*/
}

.homepage-marketing {
    position: absolute;
    margin-top: 15rem;
    left: 18%;
}

.c-menu-footer__item__address-2-row {
    margin-bottom: 1rem !important;
}

    .c-menu-footer__item__address-2-row a {
        line-height: 2rem !important;
    }

.c-menu-footer__item__address {
    background-image: url(../../images/footer/location.svg);
    background-repeat: no-repeat;
    padding-left: 3rem;
    height: 3.2rem;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: left center;
}

.c-menu-footer__item__phone {
    background-image: url(../../images/footer/phone.svg);
    background-repeat: no-repeat;
    padding-left: 3rem;
    background-position: left center;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-menu-footer__item__web {
    background-image: url(../../images/footer/web.svg);
    background-repeat: no-repeat;
    padding-left: 3rem;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: left center;
}

.c-menu-footer__item__email {
    background-image: url(../../images/footer/mail.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 3rem;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1199px) {
    .pd-left-10 {
        padding-left: 0 !important;
    }

    .homepage-line-right {
        display: none !important;
    }

    .homepage-line-left {
        display: none !important;
    }

    .homepage-4dot-right {
        display: none !important;
    }

    .homepage-4dot-left {
        display: none !important;
    }

    .homepage-marketing {
        display: none !important;
    }

    .design-round-left {
        display: none !important;
    }

    .tvc-round-right {
        display: none !important;
    }

    .marketing-round-left {
        display: none !important;
    }

    .mobile-round-right {
        display: none !important;
    }

    .event-round-left {
        display: none !important;
    }

    .partner-round-right {
        display: none !important;
    }
}


.homepage-registration-input {
    display: inline-block !important;
    width: 50% !important;
    border-radius: 30px !important;
    height: 3.5rem !important;
    float: left !important;
    margin-right: 1%;
}

.homepage-partner-text {
    border-top: none !important;
    position: absolute;
    border-bottom: 2px solid #F15822;
    left: 50%;
    padding-bottom: 1rem !important;
    text-transform: uppercase;
    -moz-transform: translateX(-50%) translateY(-50%) !important;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
    font-family: "ViettelPay-Regular" !important;
    font-weight: 800;
    font-size: 3.5rem !important;
}

.mt-50 {
    margin-bottom: 5rem !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

/*----------------------------------------------------------------------------------------------------------*/ /*BRAND*/ /*----------------------------------------------------------------------------------------------------------*/
.brand .o-container,
.brand .o-row {
    width: 100%;
    max-width: none;
}

.brand .background-brand {
    position: absolute;
    top: -15rem;
    right: 0rem;
    max-width: 1180px;
    width: calc(70% + 150px);
}

.brand .floatCenter {
    justify-content: space-between;
}

    .brand .floatCenter > div {
        width: 50%;
        max-width: 50% !important;
    }

        .brand .floatCenter > div:nth-child(1) {
            padding-left: 8.3333333333333%;
        }

.brand .brand-image {
    padding-top: 3rem;
}

.brand .section-col-image-logo-brand .single-image {
    width: 500px;
    margin: auto;
}

.brand-image img.img-brand {
    animation: fly 3s infinite;
    animation-delay: 0.25s;
}

.brand-image img.img-shadow {
    animation: shadowfly 3s infinite;
    animation-delay: 0.25s;
}

.brand .homepage-slogan {
    font-size: 2rem !important
}

.brand .identity {
    width: auto;
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #eb5822;
    padding: 5px 15px;
    border-radius: 19px;
}

    .brand .identity .animated-icon {
        margin-left: 0 !important;
        margin-right: 20px !important;
    }

.brand .bbeb5822 {
    border-bottom: 1px solid #eb5822;
}

.brand .identified-brand #design-services-box {
    display: flex;
    padding-top: 7px;
}

.brand .identified-brand .identified-logo {
    padding-bottom: 2rem;
    border-bottom: 1px solid #eb5822;
    width: max-content;
}

.brand .c-headings-block__learn-more-button a {
    border: 1px solid #fff;
    /*padding: 1.5rem 6rem;*/
    border-radius: 10px;
    background: linear-gradient(99.29deg, #F15822 -2.58%, #F5AA1C 128.21%);
    color: #ffffff !important;
    font-weight: 500 !important;
}

.brand .identified-brand .animation-holder .service-icon__holder .animated-icon {
    width: 40px;
    height: 40px;
    margin-left: 3rem;
}

@-webkit-keyframes fly {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2rem);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes shadowfly {
    0% {
        width: 80%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 80%;
    }
}

.glass-layout {
    width: 50px;
    height: 150px;
    position: absolute;
    left: -120px;
    top: -50px;
    transform: rotate(25deg);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .4) 0%, white 50%, rgba(255, 255, 255, .4) 100%);
    background-size: cover;
    transition: .6s;
}

.brand .zalo-link {
    overflow: hidden;
}

    .brand .zalo-link:hover .glass-layout {
        left: 250px;
    }

.brand .design-logo .design-logo-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #231F20;
    opacity: 0.8;
}

.brand .design-logo .design-logo-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3.5% 5.5%;
}

    .brand .design-logo .design-logo-detail > div {
        text-align: center;
        height: 25%;
    }

.brand .design-logo .design-logo-detail .design-logo-detail-01 {
    font-size: 35px;
    color: #E9A541;
    font-weight: 700;
}

    .brand .design-logo .design-logo-detail .design-logo-detail-02 {
        font-size: 25px;
        color: #FFFFFF;
        font-weight: 400;
    }

    .brand .design-logo .design-logo-detail .underlined {
        display: flex;
    }

    .brand .design-logo .design-logo-detail .design-logo-contact-now {
        padding: 20px 25px;
        font-size: 35px;
        color: #E9A541;
        font-weight: 700;
        border: solid 2px;
        border-radius: 10px;
    }

        .brand .design-logo .design-logo-detail .design-logo-contact-now:hover {
            text-decoration: none;
            cursor: pointer;
        }

    .brand .design-logo .design-logo-detail .design-logo-product .logo-product {
        width: 25%;
        height: auto;
    }

        .brand .design-logo .design-logo-detail .design-logo-product .logo-product .logo-product-count {
            font-size: 45px;
            color: #E9A541;
            font-weight: 600;
        }

        .brand .design-logo .design-logo-detail .design-logo-product .logo-product .logo-product-text {
            font-weight: 500;
            font-size: 25px;
            font-weight: 500;
            color: #FFFFFF;
        }

.brand .role-of-logo {
    display: inline-block !important;
    padding: 0 10%;
}

    .brand .role-of-logo .title-role-of-logo {
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        color: #F15822;
    }

    .brand .role-of-logo .content-role-of-logo {
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }

.brand .section-reason-of-logo .title-reason-of-logo {
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 35px;
    color: #F15822;
}

.brand .section-reason-of-logo .brand-include {
    display: flex;
    padding: 0 10%;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .brand .section-reason-of-logo .brand-include .block-brand-include {
        width: 21%;
        margin-bottom: 5rem;
    }
        .brand .section-reason-of-logo .brand-include .block-brand-include .title-block {
            color: #F15822;
            font-weight: 500;
        }
        .brand .section-reason-of-logo .brand-include .block-brand-include .content-block {
            margin-top: 2rem;
            font-weight: 500;
            color: #000000;
        }

.brand .reason-of-logo {
    justify-content: space-between;
    flex-direction: row !important;
    padding: 0 10%;
    display: flex;
}

    .brand .reason-of-logo .reason-content {
        background-color: whitesmoke;
        width: 20%;
        min-height: 440px;
        border-radius: 30px;
        text-align: center;
        padding-bottom: 2rem;
    }

        .brand .reason-of-logo .reason-content .number-reason-content img {
            width: 80%;
            transform: translateY(-20%)
        }

        .brand .reason-of-logo .reason-content .number-reason-content {
            position: relative;
        }

        .brand .reason-of-logo .reason-content .number {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 0;
            left: 0;
            color: #fff;
            font-weight: bold;
            font-size: 26px;
            ;
        }

        .brand .reason-of-logo .reason-content .logo-reason-content img {
            width: 50px;
        }

        .brand .reason-of-logo .reason-content .title-logo-reason-content {
            font-weight: 600;
            font-size: 20px;
            color: #F15822;
            min-height: 70px;
            height: auto;
            padding: 0 5%;
        }

        .brand .reason-of-logo .reason-content .detail-reason-content {
            padding: 0 10%;
            font-weight: 400;
            font-size: 20px;
            color: #231F20;
        }

.shadow-bow {
    box-shadow: rgba(169, 169, 169, 0.5) 5px 6px, rgba(169, 169, 169, 0.5) 6px 7px,rgba(169, 169, 169, 0.5) 7px 8px,rgba(169, 169, 169, 0.5) 8px 9px,rgba(169, 169, 169, 0.5) 9px 10px, rgba(169, 169, 169, 0.45) 10px 11px, rgba(169, 169, 169, 0.45) 11px 12px, rgba(169, 169, 169, 0.45) 12px 13px, rgba(169, 169, 169, 0.45) 13px 14px, rgba(169, 169, 169, 0.45) 14px 15px, rgba(169, 169, 169, 0.4) 20px 21px, rgba(169, 169, 169, 0.4) 21px 22px, rgba(169, 169, 169, 0.4) 22px 23px, rgba(169, 169, 169, 0.4) 23px 24px, rgba(169, 169, 169, 0.4) 24px 25px, rgba(169, 169, 169, 0.35) 20px 21px, rgba(169, 169, 169, 0.35) 21px 22px, rgba(169, 169, 169, 0.35) 22px 23px, rgba(169, 169, 169, 0.35) 23px 24px, rgba(169, 169, 169, 0.35) 24px 25px, rgba(169, 169, 169, 0.3) 25px 26px, rgba(169, 169, 169, 0.3) 26px 27px, rgba(169, 169, 169, 0.3) 27px 28px, rgba(169, 169, 169, 0.3) 28px 29px, rgba(169, 169, 169, 0.3) 29px 30px, rgba(169, 169, 169, 0.25) 30px 31px, rgba(169, 169, 169, 0.25) 31px 32px, rgba(169, 169, 169, 0.25) 32px 33px, rgba(169, 169, 169, 0.25) 33px 34px, rgba(169, 169, 169, 0.25) 34px 35px, rgba(169, 169, 169, 0.2) 35px 36px, rgba(169, 169, 169, 0.2) 36px 37px, rgba(169, 169, 169, 0.2) 37px 38px, rgba(169, 169, 169, 0.2) 38px 39px, rgba(169, 169, 169, 0.2) 39px 40px, rgba(169, 169, 169, 0.15) 40px 41px, rgba(169, 169, 169, 0.15) 41px 42px, rgba(169, 169, 169, 0.15) 42px 43px, rgba(169, 169, 169, 0.15) 43px 44px, rgba(169, 169, 169, 0.15) 44px 45px, rgba(169, 169, 169, 0.1) 45px 46px, rgba(169, 169, 169, 0.1) 46px 47px, rgba(169, 169, 169, 0.1) 47px 48px, rgba(169, 169, 169, 0.1) 48px 49px, rgba(169, 169, 169, 0.1) 49px 50px, rgba(169, 169, 169, 0.075) 50px 51px, rgba(169, 169, 169, 0.075) 51px 52px, rgba(169, 169, 169, 0.075) 52px 43px, rgba(169, 169, 169, 0.075) 53px 54px, rgba(169, 169, 169, 0.075) 54px 55px, rgba(169, 169, 169, 0.05) 55px 56px, rgba(169, 169, 169, 0.05) 56px 57px, rgba(169, 169, 169, 0.05) 57px 58px, rgba(169, 169, 169, 0.05) 58px 59px, rgba(169, 169, 169, 0.05) 59px 60px, rgba(169, 169, 169, 0.025) 60px 61px, rgba(169, 169, 169, 0.025) 61px 62px, rgba(169, 169, 169, 0.025) 62px 63px, rgba(169, 169, 169, 0.025) 63px 64px, rgba(169, 169, 169, 0.025) 64px 65px, rgba(169, 169, 169, 0.01) 65px 66px, rgba(169, 169, 169, 0.01) 66px 67px, rgba(169, 169, 169, 0.01) 67px 68px, rgba(169, 169, 169, 0.01) 68px 69px, rgba(169, 169, 169, 0.01) 69px 70px;
}

.brand .section-design-action .design-action {
    background-image: linear-gradient(to right, #F15822, #F5AA1C);
    height: auto;
    padding-bottom: 5rem;
    display: block !important;
}

    .brand .section-design-action .design-action .title-design-action {
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        color: #FFFF;
        min-height: 50px;
        padding: 7rem 2rem 0rem 2rem;
    }

.brand .section-design-action .content-design-action {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 7%;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .brand .section-design-action .content-design-action .detail-design-action {
        display: flex;
        width: 40%;
    }

        .brand .section-design-action .content-design-action .detail-design-action img {
            width: 70px;
            height: 70px;
        }

        .brand .section-design-action .content-design-action .detail-design-action .detail-content-design-action {
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
            padding-left: 2rem;
            display: flex;
        }

.brand .section-procedure {
    position: relative;
    height: auto;
}

    .brand .section-procedure > img {
        position: absolute;
        width: 300px;
    }
    .brand .section-procedure .procedure-brand {
        width: 370px !important;
    }

    .brand .section-procedure .procedure {
        display: block !important;
    }

    .brand .section-procedure .img-left {
        left: 0;
        top: -15rem;
    }

    .brand .section-procedure .img-right {
        right: 0;
        top: 60rem;
    }

    .brand .section-procedure .procedure .title-procedure {
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        color: #F15822;
    }
    .brand .section-procedure .content-procedure {
        padding: 0 5%;
    }

    .brand .section-procedure .procedure .content-procedure .detail-procedure {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .brand .section-procedure .procedure .content-procedure .detail-procedure img {
            /*height: 200px;*/
            width: 20%;
        }

        .brand .section-procedure .procedure .content-procedure .detail-procedure .step-procedure {
            padding-left: 15px;
            font-size: 16px;
            color: #000000;
            min-width: 250px;
        }

            .brand .section-procedure .procedure .content-procedure .detail-procedure .step-procedure p {
                font-weight: 600;
            }

    .brand .section-procedure .procedure .content-procedure .detail-procedure-right .step-procedure {
        text-align: right !important;
        padding-right: 15px;
    }

    .brand .section-procedure .procedure .content-procedure .detail-procedure-right {
        margin-left: 85px;
    }

    .brand .section-procedure .procedure .content-procedure .detail-procedure-left {
        margin-right: 85px;
    }

.brand .section-commitment .commitment {
    background-image: linear-gradient(to right, #F15822, #F5AA1C);
    height: auto;
    padding-bottom: 3rem;
    display: block !important;
}

    .brand .section-commitment .commitment .title-commitment {
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        color: #FFFF;
        height: 50px;
        padding: 5rem;
    }

    .brand .section-commitment .commitment .content-commitment {
        display: flex;
        justify-content: center;
    }

        .brand .section-commitment .commitment .content-commitment .detail-commitment {
            text-align: center;
            width: 20%;
            padding: 0 4%;
        }

            .brand .section-commitment .commitment .content-commitment .detail-commitment img {
                width: 100px;
                height: 100px;
            }

            .brand .section-commitment .commitment .content-commitment .detail-commitment .content-detail-commitment {
                font-weight: 600;
                font-size: 20px;
                color: #FFFFFF;
            }

.brand .homepage-project .h4 {
    font-weight: 700;
    font-size: 35px;
    color: #F15822;
}

.brand .question {
    display: inline-block !important;
    padding: 0 7%;
    width: 100%;
}

    .brand .question .block-question {
        margin-top: 2rem;
    }

    .brand .question .title-question {
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        color: #F15822;
    }

    .brand .question .content-question {
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        padding: 0 10%;
    }

        .brand .question .content-question .detail-question {
            border-bottom: 1px solid #000000;
            font-weight: 500;
            font-size: 25px;
            color: #000000;
            position: relative;
            padding-right: 5rem;
        }

            .brand .question .content-question .detail-question:hover {
                cursor: pointer;
            }

            .brand .question .content-question .detail-question .icon-UpDown {
                float: right;
                width: 20px;
                border-bottom: solid 2px;
                position: absolute;
                right: 15px;
                top: 20px;
            }
            .brand .question .content-question .detail-question .icon-Down {
                transform: rotate(90deg);
            }

.rotate {
    animation: rotate forwards 1s;
}

.brand .question .content-question .detail-answer {
    margin-left: 20px;
    padding-right: 5%;
    opacity: .5;
    margin-top: 2rem;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(450deg);
        transform-origin: center;
    }

    100% {
        transform: rotate(0);
        transform-origin: 0 0;
    }
}

.textColorOrange {
    color: #F15822 !important;
}

.bbColorOrange {
    border-bottom: solid 1px #F15822 !important;
}

.brand .news {
    padding: 0 10%;
}

    .brand .news #news-Content {
        display: flex;
        justify-content: space-between;
    }

        .brand .news #news-Content .block-new {
            width: 30%;
            padding: .75%;
            border: solid 1px #BABABA;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 23px rgba(0, 0, 0, 0.11);
            overflow: hidden;
        }

            .brand .news #news-Content .block-new img {
                width: 100%;
                height: 400px;
            }

            .brand .news #news-Content .block-new:hover img {
                transform: scale(1.15);
                transition: 0.5s;
            }

            .brand .news #news-Content .block-new:hover .title-new {
                color: #F15822;
            }

            .brand .news #news-Content .block-new .title-new {
                padding-bottom: 2rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border-bottom: 1px solid #A4A4A4;
                font-weight: 600;
                font-size: 20px;
                color: #000000;
                min-height: 90px;
            }

            .brand .news #news-Content .block-new .content-new {
                font-weight: 600;
                font-size: 16px;
                color: #000000;
                padding: 1rem;
            }

    .brand .news .title-news {
        text-align: left;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        color: #F15822;
    }

.brand #partners-box, #projects {
    padding: 0 10%;
}

.overLeft1_6rem {
    margin: 0 !important;
}

.brand .homepage-partner-text {
    width: fit-content;
}
.brand .brand-title {
    height: auto;
}
.brand .img-right-brand {
    position: absolute;
    width: 150px;
    right: 0;
    top: -35rem;
}
.brand .img-left-brand {
    position: absolute;
    left: 0;
    top: 0;
    width: 305px;
}
.brand-identity .design-logo .design-logo-detail > div:nth-child(2) {
    margin-bottom: 5rem;
    height: auto !important;
}
@media only screen and (max-width: 1200px) {
    .brand .reason-of-logo .reason-content .number {
        top: -7px !important;
    }

    .brand .design-logo .design-logo-detail {
        padding: 5% 5%;
    }

        .brand .design-logo .design-logo-detail .design-logo-contact-now {
            padding: 10px 25px;
        }

        .brand .design-logo .design-logo-detail > div:nth-child(2) {
            height: 25%;
        }

    .brand .section-col-image-logo-brand .single-image {
        width: 400px;
        margin: auto;
        padding-top: 5rem;
    }

    .brand .h1 {
        font-size: 4rem;
    }

    .brand .reason-of-logo .reason-content {
        width: 24%;
    }

    .brand .section-procedure > img {
        width: 150px;
    }
    .brand .section-procedure .procedure-brand {
        width: 235px !important;
    }

    .brand .section-procedure .img-left {
        top: 0;
    }

    .brand .section-procedure .img-right {
        top: 40%;
    }
}

@media only screen and (max-width: 1023px) {
    .brand .background-design-mobile {
        display: block;
        position: absolute;
        visibility: visible;
        z-index: -1;
    }

    .brand .brand-title {
        font-size: 34px !important;
    }

    .brand .question .content-question {
        padding: 0 7%;
    }
}

@media only screen and (max-width: 899px) {
    .brand .section-col-image-logo-brand {
        position: absolute;
        right: 0;
        top: 10%;
    }

        .brand .section-col-image-logo-brand .single-image {
            width: 80%;
        }

    .brand .floatCenter > div:nth-child(1) {
        max-width: 60% !important;
    }

    .brand .brand-title {
        font-size: 29px !important;
    }

    .brand .reason-of-logo {
        flex-wrap: wrap;
    }

        .brand .reason-of-logo .reason-content {
            width: 45%;
            margin-bottom: 10rem !important;
        }

            .brand .reason-of-logo .reason-content .number {
                font-size: 35px;
            }

    .brand .design-logo .design-logo-detail .design-logo-detail-01 {
        font-size: 29px;
    }

    .brand .design-logo .design-logo-detail .design-logo-detail-02 {
        font-size: 20px;
    }

    .brand .design-logo .design-logo-detail .design-logo-product .logo-product .logo-product-count {
        font-size: 29px;
    }

    .brand .design-logo .design-logo-detail .design-logo-product .logo-product .logo-product-text {
        font-size: 20px;
    }

    .brand .design-logo .design-logo-detail .design-logo-contact-now {
        font-size: 26px;
    }

    .brand .section-procedure .procedure .content-procedure .detail-procedure img {
        width: 45%;
    }

    .brand .section-commitment .commitment .content-commitment .detail-commitment {
        width: 22%;
        padding: 0 2%;
    }

    .brand .news #news-Content {
        justify-content: center;
        flex-wrap: wrap;
    }

        .brand .news #news-Content .block-new {
            width: 100%;
            margin-bottom: 5rem;
        }
    .brand .section-commitment .commitment .content-commitment .detail-commitment img {
        width: 50px;
        height: 50px;
    }

    .brand .section-commitment .commitment .content-commitment .detail-commitment .content-detail-commitment {
        font-size: 16px;
    }
    .brand .section-design-action .content-design-action .detail-design-action img {
        width: 50px;
        height: 50px;
    }
    .brand .section-design-action .content-design-action .detail-design-action .detail-content-design-action{
        font-size: 16px;
    }
    .brand .question .content-question .detail-question{
        font-size: 20px;
    }
    .brand .question .content-question .detail-answer {
        font-size: 20px;
    }
    .brand .section-reason-of-logo .c-portfolio-block__single {
        padding-bottom: 0 !important;
    }
        .brand-identity .design-logo > img {
        min-height: 650px !important;
    }
    .brand .design-logo .design-logo-detail > div:nth-child(3){
        height: 100px !important;
    }
}

@media only screen and (max-width: 768px) {
    .o-hidden-xs {
        display: none;
        position: absolute;
        visibility: hidden;
        z-index: -1;
    }
    .background-design-mobile {
        top: -7rem;
        right: 0rem;
    }
    .brand .identified-brand .animation-holder .service-icon__holder .animated-icon {
        width: 30px;
        height: 30px;
        margin-left: 2rem;
    }
    .brand .section-commitment .commitment .content-commitment .detail-commitment img{
        width: 50px;
        height: 50px;
    }
    .brand .section-commitment .commitment .content-commitment .detail-commitment .content-detail-commitment{
        font-size: 16px;
    }
    .brand .role-of-logo .content-role-of-logo {
        font-size: 16px;
    }
    .brand .reason-of-logo .reason-content .detail-reason-content{
        font-size: 16px;
    }
    .brand .reason-of-logo .reason-content{
        min-height: 350px;
        width: 48%;
        margin-bottom: 5rem !important;
    }
        .brand .reason-of-logo .reason-content .number {
            font-size: 26px;
        }
    .brand .section-reason-of-logo .title-reason-of-logo {
        padding: 0 5%;
    }
    .brand .design-logo .design-logo-detail .design-logo-product .logo-product .logo-product-text{
        font-size: 16px;
    }
    .brand .design-logo .design-logo-detail .design-logo-product .logo-product .logo-product-count{
        font-size: 16px;
    }
    .brand .design-logo .design-logo-detail .design-logo-detail-02 {
        font-size: 16px;
    }
    .brand .design-logo .design-logo-detail .design-logo-contact-now {
        font-size: 20px;
    }
    .brand .design-logo .design-logo-detail .design-logo-detail-01 {
        font-size: 20px;
    }
    .brand .design-logo .design-logo-detail .design-logo-product .logo-product{
        width: 30%;
    }
    .brand .design-logo .design-logo-detail > div {
        justify-content: space-between;
    }
    .brand .floatCenter {
        flex-wrap: wrap-reverse;
    }
        .brand .floatCenter > div {
            width: 100%;
            max-width: none !important;
        }
    .brand .section-col-image-logo-brand{
        position: static;
    }
        .brand .section-col-image-logo-brand .single-image{
            width: 50%;
        }
    .brand-image img.img-shadow{
        height: 70px;
    }
    .shadow-bow {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .brand .floatCenter > div:nth-child(1){
        max-width: none !important;
    }
    .brand .h1{
        font-size: 30px;
    }
    .brand .floatCenter > div:nth-child(1){
        padding: 0 5%;
    }
    .brand .role-of-logo{
        padding: 0 5%;
    }
    .brand .reason-of-logo{
        margin-top: 5rem !important;
        padding: 0 5%;
    }
    .brand .section-design-action .design-action .title-design-action{
        padding: 1rem;
    }
    .brand .section-design-action .content-design-action{
        padding: 0 5%;
        justify-content: space-between
    }
        .brand .section-design-action .content-design-action .detail-design-action{
            width: 48%;
            margin-top: 3rem !important;
        }
    .brand .section-commitment .commitment .title-commitment{
        padding: 1rem;
        height: auto;
    }
    .brand .section-commitment .commitment .content-commitment{
        margin: 2rem !important;
        justify-content: space-between;
    }
    .brand .section-procedure .procedure .content-procedure .detail-procedure .step-procedure{
        min-width: 0 !important;
        width: 50%;
    }
    .brand .section-procedure .procedure .content-procedure .detail-procedure img{
        width: 50%;
    }
    .brand .section-procedure .procedure .content-procedure .detail-procedure-left{
        margin: 0;
    }
    .brand .section-procedure .procedure .content-procedure .detail-procedure-right{
        margin: 0;
    }
    .brand .question{
        padding: 0 5%;
    }
        .brand .question .content-question{
            padding: 0;
        }
    .brand .news{
        padding: 0 5%;
    }
    .brand #partners-box, #projects{
        padding: 0 5%;
    }
    .brand .question .content-question .detail-question{
        font-size: 16px;
    }
    .brand .question .content-question .detail-answer{
        font-size: 16px;
    }
    .brand .question .content-question .detail-question .icon-UpDown{
        top: 10px;
    }
    .brand .reason-of-logo .reason-content .logo-reason-content img{
        height: 45px;
    }
    .brand .design-logo .design-logo-detail > div:nth-child(3) {
        height: 80px !important;
    }
    .brand .section-reason-of-logo .brand-include{
        padding: 0 5%;
        flex-wrap:wrap;
        justify-content:space-between;
    }
        .brand .section-reason-of-logo .brand-include .block-brand-include {
            width: 45%;
            text-align: center;
        }
    .brand .brand-title {
        font-size: 26px !important;
    }
}

@media only screen and (max-width: 550px) {
    .brand .identified-brand .identified-logo{
        flex-wrap: wrap;
    }
    .brand .identity {
        width: 100%;
    }
    .brand .identified-brand #design-services-box {
        padding-top: 30px;
        width: 100%;
        justify-content: space-between;
    }
        .brand .identified-brand #design-services-box .animation-holder {
            width: 20%;
        }
            .brand .identified-brand #design-services-box .animation-holder .animated-icon {
                margin: auto;
            }
    .brand .identified-brand .identified-logo{
        width: auto;
    }
    .brand .design-logo .design-logo-detail > div {
        height: 20%;
    }
        .brand .design-logo .design-logo-detail > div:nth-child(1) {
            height: 100px !important;
        }
    .brand .section-procedure .procedure .content-procedure .detail-procedure-left{
        margin-bottom: 3rem;
    }
}
