<title>Về Chúng Tôi</title>
<div id="content" class="c-site-content">
    <main id="main" role="main" itemprop="mainContentOfPage" class="c-main homepage-about-us">
        <div class="o-vc-layout">
            <section class="o-section o-row o-row--width-full s-color-scheme">
                <div class="o-row o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="o-sm-col-12 o-hidden-lg o-hidden-md o-hidden-sm">
                            <div class="c-empty-space c-empty-space--xs"></div>
                            <h3 class=" o-hidden-lg c-headings-block__main wpb_animate_when_almost_visible ro_2 h3">
                                VỀ CHÚNG TÔI
                            </h3>
                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                <figure class="wpb_wrapper vc_figure">
                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-src="../images/about-us/image_about_us.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full" alt="Design" data-lazy-srcset="../images/about-us/image_about_us.png 1344w, ../images/about-us/image_about_us.png 300w, ../images/about-us/image_about_us.png 1030w, ../images/about-us/image_about_us.png 768w">
                                        <noscript>
                                            <img src="../images/about-us/image_about_us.png" class="vc_single_image-img attachment-full" alt="Design" srcset="../images/about-us/image_about_us.png 1344w, ../images/about-us/image_about_us.png 300w, ../images/about-us/image_about_us.png 1030w, ../images/about-us/image_about_us.png 768w">
                                        </noscript>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="c-empty-space c-empty-space--xs o-hidden-md o-hidden-sm o-hidden-lg"></div>*@
                <div class="o-row c-portfolio-block o-row--width-normal s-color-scheme">
                    <div class="o-container o-container--width-normal o-container--width-same">
                        <div class="o-sm-col-12">
                            <div class="c-mm-vc-posts">
                                <div class="o-row c-portfolio-block">
                                    <div class="animated-section">
                                        <img class="o-hidden-xs o-hidden-md o-hidden-sm background-about-us" src="~/images/about-us/background-about-us.png" />
                                        <img class="o-hidden-lg background-design-mobile" src="~/images/background-design-mobile.png" />
                                        <div class="c-portfolio-block__single" id="about-us">
                                            <div class="sections sections--normal">
                                                <div class="sections-cols">
                                                    <div class="o-hidden-xs section o-lg-col-6 o-md-col-6 о-sm-col-12 section-col-image">
                                                        <div class="wpb_single_image wpb_content_element vc_align_left wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                    <img id="image_about_us" src="../images/about-us/image_about_us.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="News">
                                                                    <noscript>
                                                                        <img src="../images/about-us/image_about_us.png"
                                                                             class="vc_single_image-img attachment-full"
                                                                             alt="News">
                                                                    </noscript>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="section section-col-text o-lg-col-5 o-md-col-5 о-sm-col-12 o-lg-col-offset-1 o-md-col-offset-1">
                                                        <div class="single-text">
                                                            <div class="inner">
                                                                <div class="o-hidden-xs c-empty-space c-empty-space--md"></div>
                                                                <h3 class="h3 o-hidden-xs o-hidden-sm o-hidden-md wpb_animate_when_almost_visible ro_2 fadeInUp font-color-white">VỀ CHÚNG TÔI</h3>
                                                                <div class="s-cms-content wpb_animate_when_almost_visible ro_3 fadeInUp font-color-white">
                                                                    <p id="ABOUT_US_INTRODUCE_PC" class="o-hidden-xs">
                                                                        Think & Action là đơn vị chuyên cung cấp các giải pháp toàn diện về xây dựng thương hiệu cho doanh nghiệp. Với hơn 5 năm song hành cùng phát triển với hàng nghìn đơn vị doanh nghiệp, chúng tôi hiểu rằng hình ảnh thương hiệu luôn là giá trị cốt lõi mà các doanh nghiệp luôn nỗ lực hướng tới. Với phương châm Think big Action follow, Think & Action mong muốn cùng đối tác khách hàng nghĩ lớn, hành động mạnh mẽ và triệt để.
                                                                    </p>
                                                                    <p id="ABOUT_US_INTRODUCE_MOBILE" class="o-hidden-md o-hidden-lg">
                                                                        Think & Action là đơn vị chuyên cung cấp các giải pháp toàn diện về xây dựng thương hiệu cho doanh nghiệp. Với hơn 5 năm song hành cùng phát triển với hàng nghìn đơn vị doanh nghiệp, chúng tôi hiểu rằng hình ảnh thương hiệu luôn là giá trị cốt lõi mà các doanh nghiệp luôn nỗ lực hướng tới. Với phương châm Think big Action follow, Think & Action mong muốn cùng đối tác khách hàng nghĩ lớn, hành động mạnh mẽ và triệt để.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated-section" id="about-us-vision">
                                        <div class="c-portfolio-block__single">
                                            <h3 class="h3 o-hidden-lg wpb_animate_when_almost_visible ro_2 fadeInUp font-color-white">TẦM NHÌN</h3>
                                            <div class="sections sections--inverted">
                                                <img class="o-hidden-xs background-about-us-vision wpb_animate_when_almost_visible ro_1" src="~/images/about-us/background-about-us-vision.png" />
                                                <div class="o-sm-col-12 o-hidden-lg o-hidden-md o-hidden-sm">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">                                                        
                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-src="../images/about-us/image_about_us_vision.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full" alt="Design" data-lazy-srcset="../images/about-us/image_about_us_vision.png 1344w, ../images/about-us/image_about_us_vision.png 300w, ../images/about-us/image_about_us_vision.png 1030w, ../images/about-us/image_about_us_vision.png 768w">
                                                                <noscript>
                                                                    <img src="../images/about-us/image_about_us_vision.png" class="vc_single_image-img attachment-full" alt="Design" srcset="../images/about-us/image_about_us_vision.png 1344w, ../images/about-us/image_about_us_vision.png 300w, ../images/about-us/image_about_us_vision.png 1030w, ../images/about-us/image_about_us_vision.png 768w">
                                                                </noscript>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                @*<div class="c-empty-space c-empty-space--xs o-hidden-md o-hidden-sm o-hidden-lg"></div>*@
                                                <div class="sections-cols">
                                                    <div class="o-hidden-xs section o-col-7 o-lg-col-6 o-md-col-6 о-sm-col-12 section-col-image">                                                        
                                                        <div class="wpb_single_image wpb_content_element vc_align_left wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                    <img id="image_about_us_vision" src="../images/about-us/image_about_us_vision.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="News">
                                                                    <noscript>
                                                                        <img src="../images/about-us/image_about_us_vision.png"
                                                                             class="vc_single_image-img attachment-full"
                                                                             alt="News">
                                                                    </noscript>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="section section-col-text o-lg-col-5 o-md-col-5 о-sm-col-12 o-lg-col-offset-1 o-md-col-offset-1">
                                                        <div class="single-text">
                                                            <div class="inner">
                                                                <h3 class="h3 o-hidden-xs o-hidden-sm o-hidden-md wpb_animate_when_almost_visible ro_2 fadeInUp font-color-white">TẦM NHÌN</h3>
                                                                <div class="s-cms-content wpb_animate_when_almost_visible ro_3 fadeInUp font-color-white">
                                                                    <p id="ABOUT_US_MISSION_PC" class="o-hidden-xs">
                                                                        Trở thành Agency đứng đầu về giải pháp Marketing & Branding cho doanh nghiệp. Không chỉ dừng lại ở sự phát triển của thương hiệu trong nước, chúng tôi sẽ cùng doanh nghiệp đưa thương hiệu Việt vươn tầm Thế giới.
                                                                    </p>
                                                                    <p id="ABOUT_US_MISSION_MOBILE" class="o-hidden-md o-hidden-lg">
                                                                        Trở thành Agency đứng đầu về giải pháp Marketing & Branding cho doanh nghiệp. Không chỉ dừng lại ở sự phát triển của thương hiệu trong nước, chúng tôi sẽ cùng doanh nghiệp đưa thương hiệu Việt vươn tầm Thế giới.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated-section" id="about-us-mission">
                                        <div class="c-portfolio-block__single">
                                            <h3 class="h3 o-hidden-lg wpb_animate_when_almost_visible ro_2 fadeInUp">SỨ MỆNH</h3>
                                            <div class="sections sections--normal">
                                                <div class="o-sm-col-12 o-hidden-lg o-hidden-md o-hidden-sm">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-src="../images/about-us/image_about_us_mission.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full" alt="Design" data-lazy-srcset="../images/about-us/image_about_us_mission.png 1344w, ../images/about-us/image_about_us_mission.png 300w, ../images/about-us/image_about_us_mission.png 1030w, ../images/about-us/image_about_us_mission.png 768w">
                                                                <noscript>
                                                                    <img src="../images/about-us/image_about_us_mission.png" class="vc_single_image-img attachment-full" alt="Design" srcset="../images/about-us/image_about_us_mission.png 1344w, ../images/about-us/image_about_us_mission.png 300w, ../images/about-us/image_about_us_mission.png 1030w, ../images/about-us/image_about_us_mission.png 768w">
                                                                </noscript>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="sections-cols">
                                                    <div class="o-hidden-xs section o-lg-col-6 o-md-col-6 о-sm-col-12 section-col-image">
                                                        <div class="wpb_single_image wpb_content_element vc_align_left wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                    <img id="image_about_us_mission" src="../images/about-us/image_about_us_mission.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="News">
                                                                    <noscript>
                                                                        <img src="../images/about-us/image_about_us_mission.png"
                                                                             class="vc_single_image-img attachment-full"
                                                                             alt="News">
                                                                    </noscript>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="section section-col-text o-lg-col-5 o-md-col-5 о-sm-col-12 o-lg-col-offset-1 o-md-col-offset-1">
                                                        <div class="single-text">
                                                            <div class="inner">
                                                                @*<div class="c-empty-space c-empty-space--xs o-hidden-md o-hidden-sm o-hidden-lg"></div>*@
                                                                <h3 class="h3 o-hidden-xs o-hidden-sm o-hidden-md wpb_animate_when_almost_visible ro_2 fadeInUp">SỨ MỆNH</h3>
                                                                <div class="s-cms-content wpb_animate_when_almost_visible ro_3 fadeInUp">
                                                                    <p id="ABOUT_US_VISION_PC" class="o-hidden-xs">
                                                                        Think & Action được ra đời với sứ mệnh đồng hành và hỗ trợ các doanh nghiệp kiến tạo nên những giá trị đột phá cho thương hiệu nhằm thúc đẩy tăng trưởng trong thời kỳ chuyển đổi số.
                                                                    </p>
                                                                    <p id="ABOUT_US_VISION_MOBILE" class="o-hidden-md o-hidden-lg">
                                                                        Think & Action được ra đời với sứ mệnh đồng hành và hỗ trợ các doanh nghiệp kiến tạo nên những giá trị đột phá cho thương hiệu nhằm thúc đẩy tăng trưởng trong thời kỳ chuyển đổi số.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-empty-space c-empty-space--xl o-hidden-xs o-hidden-sm"></div>
                                    <div class="animated-section">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class="sections-cols">
                                                    <div class="sections-cols o-lg-col-3 o-md-col-3 о-sm-col-12">
                                                        <div class="single-text homepage-about-us-services-title">
                                                            <div class="inner">
                                                                <h3 class="h3  wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                                    CÁC DỊCH VỤ CUNG CẤP
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="c-empty-space c-empty-space--xs o-hidden-lg o-hidden-md o-hidden-sm"></div>
                                                    <div class="sections-cols o-lg-col-9 o-md-col-9 о-sm-col-12">
                                                        <div class="section o-lg-col-1 o-md-col-1 о-sm-col-12">
                                                        </div>
                                                        <div class="homepage-about-us-services-box section o-lg-col-2 o-md-col-2 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="animation-holder">
                                                                    <div class="service-icon__holder">
                                                                        <div class="service-icon-detail">
                                                                            <div class="animated-icon" data-icon="eye"
                                                                                 data-autoplay="true"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p>Thiết Kế Thương Hiệu</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="homepage-about-us-services-box section o-lg-col-2 o-md-col-2 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="animation-holder">
                                                                    <div class="service-icon__holder">
                                                                        <div class="service-icon-detail">
                                                                            <div class="animated-icon" data-icon="support"
                                                                                 data-autoplay="true"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p>Sản Xuất TVC</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="homepage-about-us-services-box section o-lg-col-2 o-md-col-2 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="animation-holder">
                                                                    <div class="service-icon__holder">
                                                                        <div class="service-icon-detail">
                                                                            <div class="animated-icon" data-icon="dice"
                                                                                 data-autoplay="true"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p>Digital marketing</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="homepage-about-us-services-box section o-lg-col-2 o-md-col-2 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="animation-holder">
                                                                    <div class="service-icon__holder">
                                                                        <div class="service-icon-detail">
                                                                            <div class="animated-icon" data-icon="web_development"
                                                                                 data-autoplay="true"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p>Website & Mobile App</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="homepage-about-us-services-box section o-lg-col-2 o-md-col-2 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="animation-holder">
                                                                    <div class="service-icon__holder">
                                                                        <div class="service-icon-detail">
                                                                            <div class="animated-icon" data-icon="strategic_consulting"
                                                                                 data-autoplay="true"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p>Tổ Chức Sự Kiện</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="section o-lg-col-1 o-md-col-1 о-sm-col-12">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="position: sticky;">
                                        <img class="o-hidden-xs background-about-us-why wpb_animate_when_almost_visible ro_1" src="~/images/about-us/background-about-us-why.png" />
                                    </div>
                                    <div class="c-empty-space c-empty-space--xl o-hidden-xs"></div>
                                    <div class="c-empty-space c-empty-space--xl o-hidden-xs"></div>
                                    <div class="animated-section">
                                        <div class="c-portfolio-block__single">
                                            <div class="sections sections--normal">
                                                <div class="sections-cols">
                                                    <div class="o-hidden-lg o-hidden-md o-hidden-sm sections-cols o-lg-col-3 o-md-col-3 о-sm-col-12">
                                                        <div class="single-text homepage-about-us-why-title">
                                                            <div class="inner">
                                                                <h3 class="h3  wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                                    TẠI SAO CHỌN <br /> THINK & ACTION
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="c-empty-space c-empty-space--xs o-hidden-lg o-hidden-md o-hidden-sm"></div>
                                                    <div class="sections-cols o-lg-col-9 o-md-col-9 о-sm-col-12">
                                                        <div class="homepage-about-us-services-box section o-lg-col-3 o-md-col-3 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="homepage-about-us-why-image">
                                                                    <div class="wpb_single_image wpb_content_element vc_align_left wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                                        <figure class="wpb_wrapper vc_figure">
                                                                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                                <img src="../images/about-us/image_about_us_why_process.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="News">
                                                                                <noscript>
                                                                                    <img src="../images/about-us/image_about_us_why_process.png"
                                                                                         class="vc_single_image-img attachment-full"
                                                                                         alt="News">
                                                                                </noscript>
                                                                            </div>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p id="ABOUT_US_WHY_1_PC" class=" o-hidden-xs">
                                                                            Quy trình làm việc khoa học và hiệu quả
                                                                        </p>
                                                                        <p id="ABOUT_US_WHY_1_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                                            Quy trình làm việc khoa học và hiệu quả
                                                                        </p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="homepage-about-us-services-box section o-lg-col-3 o-md-col-3 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="homepage-about-us-why-image">
                                                                    <div class="wpb_single_image wpb_content_element vc_align_left wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                                        <figure class="wpb_wrapper vc_figure">
                                                                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                                <img src="../images/about-us/image_about_us_why_price.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="News">
                                                                                <noscript>
                                                                                    <img src="../images/about-us/image_about_us_why_price.png"
                                                                                         class="vc_single_image-img attachment-full"
                                                                                         alt="News">
                                                                                </noscript>
                                                                            </div>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p id="ABOUT_US_WHY_2_PC" class=" o-hidden-xs">
                                                                            Chất lượng tối đa với chi phí tối ưu
                                                                        </p>
                                                                        <p id="ABOUT_US_WHY_2_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                                            Chất lượng tối đa với chi phí tối ưu
                                                                        </p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="homepage-about-us-services-box section o-lg-col-3 o-md-col-3 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="homepage-about-us-why-image">
                                                                    <div class="wpb_single_image wpb_content_element vc_align_left wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                                        <figure class="wpb_wrapper vc_figure">
                                                                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                                <img src="../images/about-us/image_about_us_why_target.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="News">
                                                                                <noscript>
                                                                                    <img src="../images/about-us/image_about_us_why_target.png"
                                                                                         class="vc_single_image-img attachment-full"
                                                                                         alt="News">
                                                                                </noscript>
                                                                            </div>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p id="ABOUT_US_WHY_3_PC" class=" o-hidden-xs">
                                                                            Cam kết 100% dự án thành công
                                                                        </p>
                                                                        <p id="ABOUT_US_WHY_3_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                                            Cam kết 100% dự án thành công
                                                                        </p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="homepage-about-us-services-box section o-lg-col-3 o-md-col-3 о-sm-col-12">
                                                            <div class="services s-cms-content wpb_animate_when_almost_visible ro_4 fadeInUp">
                                                                <div class="homepage-about-us-why-image">
                                                                    <div class="wpb_single_image wpb_content_element vc_align_left wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                                        <figure class="wpb_wrapper vc_figure">
                                                                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                                <img src="../images/about-us/image_about_us_why_creative.png" class="o-lazy-load o-lazy-load--img vc_single_image-img attachment-full o-lazy-load--complete" alt="News">
                                                                                <noscript>
                                                                                    <img src="../images/about-us/image_about_us_why_creative.png"
                                                                                         class="vc_single_image-img attachment-full"
                                                                                         alt="News">
                                                                                </noscript>
                                                                            </div>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="c-entry__content-name">
                                                                        <p id="ABOUT_US_WHY_4_PC" class=" o-hidden-xs">
                                                                            Đội ngũ nhân sự sáng tạo và chuyên nghiệP
                                                                        </p>
                                                                        <p id="ABOUT_US_WHY_4_MOBILE" class="o-hidden-sm o-hidden-md o-hidden-lg">
                                                                            Đội ngũ nhân sự sáng tạo và chuyên nghiệP
                                                                        </p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sections-cols o-lg-col-3 o-md-col-3 о-sm-col-12 o-hidden-xs">
                                                        <div class="single-text homepage-about-us-why-title">
                                                            <div class="inner">
                                                                <h3 class="h3  wpb_animate_when_almost_visible ro_1 fadeInUp">
                                                                    TẠI SAO CHỌN <br /> THINK & ACTION
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-empty-space c-empty-space--xl o-hidden-xs"></div>
            </section>
        </div>
    </main>
</div>
<script src="~/js/video.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-migrate.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#nav-about-us').addClass("active");
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var settings = {
              "url": "https://cms.thinkaction.vn/all-options",
              "method": "GET",
              "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                var data = response.data;
                $('#ABOUT_US_INTRODUCE_PC').html(data.find(x => x.Code === 'ABOUT_US_INTRODUCE').ValuePC.replace(/\n/g,'<br/>'));
                $('#ABOUT_US_INTRODUCE_MOBILE').html(data.find(x => x.Code === 'ABOUT_US_INTRODUCE').ValueMobile.replace(/\n/g,'<br/>'));

                $('#ABOUT_US_MISSION_PC').html(data.find(x => x.Code === 'ABOUT_US_MISSION').ValuePC.replace(/\n/g,'<br/>'));
                $('#ABOUT_US_MISSION_MOBILE').html(data.find(x => x.Code === 'ABOUT_US_MISSION').ValueMobile.replace(/\n/g,'<br/>'));

                $('#ABOUT_US_VISION_PC').html(data.find(x => x.Code === 'ABOUT_US_VISION').ValuePC.replace(/\n/g,'<br/>'));
                $('#ABOUT_US_VISION_MOBILE').html(data.find(x => x.Code === 'ABOUT_US_VISION').ValueMobile.replace(/\n/g,'<br/>'));

                 $('#ABOUT_US_WHY_1_PC').html(data.find(x => x.Code === 'ABOUT_US_WHY_1').ValuePC.replace(/\n/g,'<br/>'));
                $('#ABOUT_US_WHY_1_MOBILE').html(data.find(x => x.Code === 'ABOUT_US_WHY_1').ValueMobile.replace(/\n/g,'<br/>'));

                 $('#ABOUT_US_WHY_2_PC').html(data.find(x => x.Code === 'ABOUT_US_WHY_2').ValuePC.replace(/\n/g,'<br/>'));
                $('#ABOUT_US_WHY_2_MOBILE').html(data.find(x => x.Code === 'ABOUT_US_WHY_2').ValueMobile.replace(/\n/g,'<br/>'));

                 $('#ABOUT_US_WHY_3_PC').html(data.find(x => x.Code === 'ABOUT_US_WHY_3').ValuePC.replace(/\n/g,'<br/>'));
                $('#ABOUT_US_WHY_3_MOBILE').html(data.find(x => x.Code === 'ABOUT_US_WHY_3').ValueMobile.replace(/\n/g,'<br/>'));

                 $('#ABOUT_US_WHY_4_PC').html(data.find(x => x.Code === 'ABOUT_US_WHY_4').ValuePC.replace(/\n/g,'<br/>'));
                $('#ABOUT_US_WHY_4_MOBILE').html(data.find(x => x.Code === 'ABOUT_US_WHY_4').ValueMobile.replace(/\n/g,'<br/>'));
            });
    });
</script>